<div class="c-panel bg-dark no-feed-items">
  <div class="row" style="font-size: 14px;">
    <div class="col-lg-6 text-center">
      <%= image_tag 'lightning.png' %>
      <div class="text-left">
        <strong>Please be cool:</strong> 
        Our community is all about respect and your opinion is valued,. On the other hand disrespect to any artists or members will get you banned asap. 
      </div>
    </div>
    <div class="col-lg-6">
      <span style="font-size: 21px; font-weight: bold; line-height: 21px; margin-top: 35px; display: inline-block;">
        <span style="color: #3ed4e0;">Wait what?</span> 
        this feed has no comments.. Tell the community what you think.. 
      </span>
      <hr style="border: 1px solid #3ed4e0; margin: 21px 0">
      <strong>Note:</strong> 
      When you comment on a release you auto follow this feed, any members that follow you will see your comment in their feed. 
    </div>
  </div>
</div>