<% if @comment.parent_id.present? %>
  $('.feed-form').before(`
        <%= escape_javascript(
          render(@comment)
        ) %>
    `);
  $('[id^=comment_body_]').val('');
<% else %>
  $('.modal').modal('hide');
  $('.feed-block').prepend(`
      <div class="feed-item">
        <%= escape_javascript(
          render(partial: 'activity/commentable_comment', 
            locals: { 
              activity: { 
                'actor' => @comment.user,
                'object' => @comment,
                'target' => @comment.commentable,
                'time' => @comment.created_at
              } 
            } 
          )
        ) %>
      </div>
    `);
<% end %>
