<% content_for :user_header_title, 'Favorite tracks' %>

<% if @user.has_role? :artist %>
  <%= render 'users/artist_header' %>
<% else %>
  <%= render 'users/user_header' %>
<% end %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'player/player_page_menu' %>
  </div>

  <div class="col-lg-9 music-wrapper">
    <div class="music-block">
      <%= render partial: 'playlists/page', 
                 locals: { tracks: @tracks, source_type: 'liked', source_id: @user.id } %>
    </div>

  </div>
</div>
