<%= render 'releases/release_header' %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'player/player_page_menu' %>
  </div>

  <div class="col-lg-9 music-wrapper">
    <div class="music-block">
      <%= render partial: 'playlists/page', 
                 locals: { tracks: @release.tracks, source_type: 'release', source_id: @release.id } %>
    </div>

  </div>
</div>
