<% if style == 'release' %>
  <% content = "#{image_tag 'icons/like-release.svg'} <div class='release-nav-caption mt-1'>FAVORITE</div>" %>
<% elsif style == 'thumbup' || style == 'thumbup-reply' %>
  <% content = "Like" %>
<% else %>
  <% content = image_tag 'icons/like.svg' %>
<% end %>


<%= link_to likes_path(likeable_type: like[:likeable_type], 
      likeable_id: like[:likeable_id], style: style), 
      id: "like-#{like[:likeable_type]}-#{like[:likeable_id]}",
      method: :post, remote: true, class: "like-button" do %>
  <%= content.html_safe %>
<% end %>