<% likes_count = object.try(:likes_count) ? object.likes_count : object.likes.count %>
<div class="likes-count">
<!--   <a href="#" tabindex="0" data-toggle="no-popover" data-placement="right" data-content='
    <%# object.likes.order(created_at: :desc).limit(40).each do |like| %>
      <%#= link_to user_path(like.user_id) do %>
        <%#= image_tag like.user.avatar.thumb, class: "avatar-micro", title: "#{like.user.name}" %>
      <%# end %>
    <%# end %>' data-trigger="focus" data-html="true" onclick="return false;" class="likes-count-btn"> -->
    <span class="" title="Likes">Like (<%= likes_count %>)</span>
  <!-- </a> -->
</div>
