<% if style == 'release' %>
  <% content = "#{image_tag 'icons/player-favorite.svg'} <div class='release-nav-caption mt-1'>FAVORITED</div>" %>
<% elsif style == 'thumbup' || style == 'thumbup-reply' %>
  <% content = "Unike" %>
<% else %>
  <% content = image_tag 'icons/liked.svg' %>
<% end %>


<%= link_to like_path(like, style: style), 
    id: "like-#{like.likeable_type}-#{like.likeable_id}",
    method: :delete, remote: true, class: "like-button" do %>
  <%= content.html_safe %>
<% end %>
