<div class="user-profile-nav">
	<ul>
		<li>
        	<%= link_to "PROFILE", usr_edit_profile_path %>
		</li>
		<li>
        	<%= link_to "ACCOUNT", usr_edit_account_path %>
		</li>
		<li>
			<a>
				NOTIFICATIONS
			</a>
		</li>
		<li>
			<a>
				INTEGRATIONS
			</a>
		</li>
		<li>
			<a>
				BILLING / ORDER HISTORY
			</a>
		</li>
		<li>
			<a>
				FEEDS YOU FOLLOW
			</a>
		</li>
		<li>
			<a>
				FRIENDS & ARTISTS
			</a>
		</li>
		<li>
			<a>
				EGG CREDITS & REWARDS
			</a>
		</li>
		<li>
			<a>
				DOWNLOADS AREA
			</a>
		</li>
		<li>
			<a>
				HEADERS & SKINS
			</a>
		</li>
		<li>
			<a>
				DOWNLOADS
			</a>
		</li>
	</ul>
</div>