<div class="mt-4 mb-2">
  <div class="c-flag">ARTISTS</div>
</div>

<div class="row artists-list">
  <% @artists.each do |artist| %>
    <div class="col-lg-6 mb-3">
      <%= render 'users/artist_gray', object: artist %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <% if @limit <= @artists.count %>
    <%= link_to "Show more", load_more_artists_path(page: params[:page] ? params[:page].to_i + 1 : 2), 
        remote: true, class: "btn c-btn-blue show-more" %>
  <% end %>
</div>
