<%= render 'devise/shared/billing_info' %>

<div id="payment-user-info" class="d-none mt-2">

  <%= render partial:  'users/braintree_form', locals: { new_subscription: params[:new_subscription] || true } %>

</div>

