<div class="text-center" style="margin-top: 80px;">
  <%= image_tag 'birdfeed-red1.png' %>
  <strong>
    <div style="color: #585858;font-size: 25px;">
      THANK YOU FOR YOUR PURCHASE
    </div>
    <p style="color: #777777;font-size: 14px;">
      Your credits are now active!
    </p>
    <a href="/">Go to Home Page</a>
  </strong>
</div>
