<div class="row">
  <div class="col-md-8">
    <div class="c-panel bg-white">
      <div class="c-flag mb-4">BIRDFEED</div>

      <div class="feed-block" data-masterfeed="true">
        <%= render 'feeds/masterfeed' %>
      </div>

      <div id="loading" style="display: none;">Loading...</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="sticky-top">
      <!-- FOLLOWERS -->
      <div class="c-panel bg-white mb-4">
        <div class="c-flag c-flag-inner mb-2"></div>

        <div>

        </div>
      </div>
    </div>
  </div>
</div>
