<div class="signup-header" style="margin-bottom: -100px;">
  <%= image_tag '/images/birdfeed-header.jpg', class: "h-100" %>

  <div class="success-banner signup-logo">
    <div class="success-logo">
      <%= image_tag 'icons/flash.svg', class: "flash-lightning" %>
      <%= image_tag 'birdfeed-logo-white.png', class: 'success-logo-img' %>
    </div>

    <div class="text-1">
      RULES & REGULATIONS
    </div>

    <div class="text-2">
      LEGAL & POLICIES
    </div>

    <div class="success-bottom">
      Mutal PROTECTION / USAGE
    </div>
  </div>
</div>

<div class="signup-panel c-panel bg-white">
  <div class="row">
    <div class="col-sm-2 px-0">
      <ul class="info-anchors sticky-top">
        <li>
          <a href="#inclusivness">Inclusivness</a>
        </li>
        <li>
          <a href="#code-of-conduct">Code of Conduct</a>
        </li>
        <li>
          <a href="#privacy-policy">Privacy Policy</a>
        </li>
        <li>
          <a href="#opt-in-policy">Opt-in Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-10">
      <h2 id="inclusivness" class="h2-phosphate">inclusivness</h2>
      <p>
        Birdfeed focuses on bringing fans together through collaboration, innovation and experimentation and our community engages that spirit. No sexism, racism, discrimination or any kind of exclusion will be tolerated in association with Birdfeed & Dirtybird and we reserve the right to refuse and/or remove content based on our principles. We encourage inclusive and welcoming environments at all our events and web & mobile platforms. We encourage a free and open environment where creativity and opinion should know no censorship and we hope all participants will exercise their creative freedoms. We take pride in our peeps, promoters, managers, fans & artists, but Birdfeed and Dirtybird is not liable for anyone’s specific views and opinions. 
      </p>

      <h2 id="code-of-conduct" class="h2-phosphate">CODE Of CONDUCT</h2>
      <h3>1. Purpose</h3>
      <p>
        This‭ ‬code‭ ‬of‭ ‬conduct‭ ‬outlines‭ ‬our‭ ‬guidelines ‬for‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ ‬our‭ ‬community,‭ ‬as‭ ‬well‭ ‬as‭ ‬the‭ ‬consequences‭ ‬for‭ ‬unacceptable‭ ‬behavior. We‭ ‬invite‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ Birdfeed ‬to‭ ‬help‭ ‬us‭ maintain these guidelines and ‬create‭ ‬safe‭ ‬and‭ ‬positive‭ ‬experiences‭ ‬for‭ ‬everyone. 
      </p>

      <h3>2. Appropriate ‬Behavior</h3>
      <p>
        We wish for Birdfeed participants to exercise‭ ‬consideration‭ ‬and‭ ‬respect‭ ‬in‭ their ‬speech‭ ‬and‭ ‬actions, attempt‭ ‬collaboration‭ ‬before‭ ‬conflict, and refrain‭ ‬from‭ ‬demeaning,‭ ‬discriminatory,‭ ‬or‭ ‬harassing‭ ‬behavior‭ ‬and‭ ‬speech. We also expect the same consideration and respect to be applied to games and content created during Birdfeed & Dirtybird events.
      </p>
      <p>
        Be‭ ‬mindful‭ ‬of‭ ‬your‭ ‬surroundings‭ ‬and‭ ‬of‭ ‬your‭ ‬fellow‭ ‬participants.‭ ‬Alert‭ ‬community‭ ‬leaders and site organizers immediately‭ ‬if‭ ‬you‭ ‬notice‭ ‬a‭ ‬dangerous‭ ‬situation,‭ ‬someone‭ ‬in‭ ‬distress,‭ ‬or‭ ‬violations‭ ‬of‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬even‭ ‬if‭ ‬they‭ ‬seem‭ ‬inconsequential.
      </p>

      <h3>3. Unacceptable‭ ‬Behavior</h3>
      <p>
        Unacceptable‭ ‬behaviors‭ ‬include:‭ ‬intimidating,‭ ‬harassing,‭ ‬abusive,‭ ‬discriminatory,‭ ‬derogatory‭ ‬or‭ ‬demeaning‭ ‬speech‭ ‬or‭ actions‭ ‬by‭ ‬any‭ ‬participant‭ ‬in‭ ‬our online community,‭ ‬at‭ ‬all‭ ‬related‭ ‬events‭ ‬and‭ ‬in‭ ‬one-on-one‭ ‬communications‭. Please ‬be‭ ‬respectful‭ ‬to‭ ‬all‭ ‬patrons‭ ‬of‭ ‬these‭ ‬locations.
      </p>
      <p>
        Harassment‭ ‬includes:‭ ‬harmful‭ ‬or‭ ‬prejudicial‭ ‬verbal‭ ‬or‭ ‬written‭ ‬comments‭ ‬related‭ ‬to‭ ‬gender,‭ ‬sexual‭ ‬orientation,‭ age, ‬ability,‭ ‬appearance, ethnicity,‭ national origin, ‬citizenship, socioeconomic‭ ‬status,‭ ‬or‭ ‬religion‭; ‬deliberate‭ ‬intimidation,‭ ‬stalking‭ ‬or‭ ‬following‭; ‬harassing‭ ‬photography‭ ‬or‭ ‬recording‭; ‬sustained‭ ‬disruption‭ ‬of‭ ‬talks‭ ‬or‭ ‬other‭ ‬events‭; ‬inappropriate‭ ‬physical‭ ‬contact; ‬and‭ ‬unwelcome‭ ‬sexual‭ ‬attention.
      </p>

      <h3>4. Consequences‭ ‬of‭ ‬Unacceptable‭ ‬Behavior</h3>
      <p>
        Anyone‭ ‬asked‭ ‬to‭ ‬stop‭ ‬unacceptable‭ ‬behavior‭ ‬is‭ ‬expected‭ ‬to‭ ‬comply‭ ‬immediately.
      </p>
      <p>
        If‭ ‬a‭ ‬community‭ ‬member‭ ‬engages‭ ‬in‭ ‬unacceptable‭ ‬behavior,‭ ‬local ‬Dirtybird & Birdfeed organizers‭ ‬may‭ ‬take‭ action‭ to stop the unacceptable behavior,‭ ‬up‭ ‬to‭ ‬and‭ ‬including‭ ‬a‭ ‬temporary‭ ‬ban‭ ‬or‭ ‬permanent‭ ‬expulsion‭ ‬from‭ ‬the‭ ‬community‭ and Dirtybird / Birdfeed events ‬without‭ ‬warning‭ (‬and‭ ‬without‭ ‬refund‭ ‬in‭ ‬the‭ ‬case‭ ‬of‭ ‬a‭ ‬paid‭ ‬event‭)‬.
      </p>

      <h3>5. If you are witness to unnacceptable behavior </h3>
      <p>
        If‭ ‬you‭ ‬are‭ ‬subject‭ ‬to‭ ‬or‭ ‬witness‭ ‬unacceptable‭ ‬behavior,‭ ‬or‭ ‬have‭ ‬any‭ ‬other‭ ‬concerns,‭ ‬please‭ ‬notify‭ a Birdfeed Admin or Dirtybird Event organizer‭ ‬as‭ ‬soon‭ ‬as‭ ‬possible or submit a notice through the Bird care center (can be submitted anonymously).
      </p>

      <h3>6. Addressing‭ ‬Grievances</h3>
      <p>
        If‭ ‬you‭ ‬feel‭ ‬you‭ ‬have‭ ‬been‭ ‬falsely‭ ‬or‭ ‬unfairly‭ ‬accused‭ ‬of‭ ‬violating‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬you‭ ‬should‭ ‬notify‭ Dirtybird ‬with‭ ‬a‭ ‬concise‭ ‬description‭ ‬of‭ ‬your‭ ‬grievance.‭ ‬
      </p>

      <h3>7. SCOPE</h3>
      <p>
        We‭ wish for‭ ‬all‭ ‬community‭ ‬participants‭ (‬Artists, promoters, contributors,‭ ‬paid‭ ‬or‭ ‬otherwise‭; ‬sponsors‭; ‬and‭ ‬other‭ ‬guests‭) ‬to‭ ‬abide‭ ‬by‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct‭ ‬in‭ ‬all‭ ‬Dirtybird & Birdfeed Communities and events ‭—‬online‭ ‬and‭ ‬in-person‭
      </p>

      <h2 id="privacy-policy" class="h2-phosphate">PRIVACY POLICY</h2>
      <p>
        Birdfeed & Dirtybird respects your concerns about privacy. We want you to understand the types of information we collect, how we use that information, how we secure it, and whether we share it. When you use our websites, games, and applications, you agree to our collection, use, disclosure, and transfer of information as described in this policy, so please review it carefully. (This policy applies to Dirtybird LLC. and its corporate subsidiaries and affiliates ). 
      </p>
      <p>
        Please contact us if you have any questions.
      </p>

      <h3>1. Information We Collect or Receive</h3>
      <p>
        We only collect, use, share, store, or otherwise process your personal information when we have an appropriate basis. For example, we may process your personal information as necessary to provide services that are subject to terms you have accepted, such as our end user license agreements or service terms and conditions. We may process your personal information when necessary to comply with legal obligations or for purposes of pursuing legitimate interests, if doing so is consistent with your rights and appropriate to the context, such as providing services, addressing game performance, fixing bugs, performing internal analytics, and conducting reasonable monitoring of your use of our services to prevent misuse of our services and fraud. Additionally, we may, in certain cases, ask you for your consent for certain processing of your personal information.
      </p>
      <p>
        We generally collect or receive information in three ways: (1) you voluntarily provide information to us, such as by creating an account, making purchases, or signing up for email alerts, (2) we collect information automatically, such as through cookies or our games and other software, and (3) other parties, such as social networks, may provide information to us. Each of these methods is described in more detail below.
      </p>

      <h3> 2. Information You Voluntarily Choose to Provide</h3>
      <p>
        You may provide your personal information to us when you choose to use our websites, games, game engines, or applications. Because we change our offerings and features from time to time, the options you have to provide us with information also may change. The following are some examples of situations in which you may provide information to us:
      </p>

      <ul class="dashed pl-2">
        <li>Creating an account to use our websites, online services, software, or applications;</li>
        <li>Participating in our activities or games;</li>
        <li>Using a social feature of our games or applications (described further in the section of this policy titled “When You -Use Social Features of Our Games and Applications”)</li>
        <li>Purchasing something from us or otherwise engaging in a transaction with us;</li>
        <li>Entering online competitions or registering for or participating in special events;</li>
        <li>Entering contests or sweepstakes, participating in any of our promotions, or accepting any prizes from us;</li>
        <li>Signing up for email alerts or subscribing to receive other information from us;</li>
        <li>Completing a survey;</li>
        <li>Using a mobile device, such as a phone, to play our games or use our applications;</li>
        <li>Contacting us for any reason, such as by email, including for technical support or customer service.</li>
      </ul>

      <p>
        The personal information we collect from you will vary depending on the services you are using, the websites you are visiting, and how you access those services and websites. The information you provide to us may include your name, your display name, and your email address(es). If you choose to make a purchase, we will collect payment card information such as your card’s payment account number and expiration date. Sometimes we ask for your phone number, your postal address, your billing address, your date of birth, and your gender.
      </p>

      <h3>3. Information Collected Automatically When You Use Our Websites, Games, and Applications</h3>
      <p>
        We collect some information automatically when you visit our websites or use our games, game engines, and applications. If a combination of information that we collect does identify you as an individual, we will treat the combined information as personal information. We typically aggregate the data that we collect automatically and use it in statistical form to determine trends among groups of users, rather than using it to identify individuals.
      </p>
      <p>
        We collect information automatically through technologies such as web browsers, cookies, log files, web beacons, and our back-end servers collect usage data transmitted from our games and other software. We use the information for purposes such as modifying or improving features, managing advertising, addressing technical issues, preventing fraud or misuse of our services, and conducting data analytics. The type of information that we automatically collect may vary, but generally includes:
      </p>

      <ul class="dashed pl-2">
        <li>Technical information about your computer, device, hardware, or software you use to access the Internet or our services, such as IP address or other transactional or identifier information for your device (such as device make and model, information about device operating systems and browsers, or other device or system related specifications);</li>
        <li>Usage information and statistics about your interaction with our websites, games, game engines, and applications, which may include the URLs of our websites that you have visited, URLs of referring and exiting pages, page views, time spent on a page, number of clicks, platform type, the application you used or the game you played, how long you used or played it and when, and other usage statistics;</li>
        <li>Crash reports, which may be automatically generated when a game or application crashes and includes information about your system and the crash;</li>
        <li>Information that facilitates a safer and more personalized experience, such as your display name or other user identification provided in connection with your application use or game play, saved preferences, game progress, and device - identifiers or usage information for authentication and fraud prevention purposes;</li>
        <li>The location of your device, such as may be derived from your device’s IP address.</li>
      </ul>

      <p>
        Please note that if certain features on our website are provided by third parties, those third parties may also use automated means of data collection and may record information about your use of our website or others’ websites over time. These features are subject to those third parties’ privacy notices and policies. 
      </p>

      <h3>4. How We Use and Share Information</h3>
      <p>
        As a general matter, we use your information to provide the services, experiences, merchandise, or information you request. We also may use your information for the following purposes.
      </p>

      <ul class="dashed pl-2">
        <li>For our legitimate interests, consistent with your rights and preferences, we use personal data:</li>
        <li>To communicate with you, respond to your requests, or provide you with updates and information;</li>
        <li>To better understand our users, their interests, and their preferences;</li>
        <li>To personalize your experience, save your preferences, authenticate our users, and provide similar user-experience features;</li>
        <li>To develop, deliver, and improve our products, services, and other offerings;</li>
        <li>To manage and customize advertisements or promotional offers;</li>
        <li>For security purposes;</li>
        <li>For internal purposes such as auditing and data analysis.</li>
        <li>To provide services that are subject to terms you have accepted, such as enforcing our licenses, agreements, and terms of service, which may include reasonable monitoring to detect and prevent misuse or fraud and to keep our games fair for all users.</li>
        <li>To the extent you give consent, such as when we would like to process your personal information for a purpose that would otherwise be incompatible with this policy.</li>
        <li>To comply with legal obligations.</li>
      </ul>

      <p>
        We store personal information for as long as we reasonably need it to fulfill the purposes for which it was collected. For example, if you register for our services and create an account, we will store your information for as long as needed to maintain your account, provide the services you requested, enforce any applicable terms that govern your use of the services, and maintain appropriate records to reflect our delivery of services to you. We periodically review the personal information we retain to determine whether continued storage is proper. We may share, or provide you with opportunities to share, information about you with other users of our websites, games, game engines, and applications as described in this policy. We also provide services that allow our users to communicate with Dirtybird, Birdfeed and each other, in which case personal information may be shared and account IDs may be displayed.
      </p>
      <p>
        We may share personal information we collect within our family of companies. We also will share information with service providers that perform services on our behalf and under our instructions. These service providers are not authorized by us to use or disclose the information except as necessary to perform services on our behalf or comply with legal requirements. We also may share certain limited information, such as device identifiers, with advertisers and other marketing partners for purposes of gauging the effectiveness of advertising and other marketing strategies.
      </p>
      <p>
        We may share information about you with your social network contacts when you and they use the same social features of our games and applications.
      </p>
        We may also disclose information about you: (I) if we are required to do so by law, legal process, or a reasonable request from law enforcement authorities or other government officials, (ii) when we believe disclosure is necessary or appropriate to prevent physical harm or financial loss or in connection with an investigation of suspected or actual illegal activity, or (iii) if necessary to protect the vital interests of another individual (such as to prevent death, bodily harm, or serious damage to property). We reserve the right to transfer information about our users in the event we sell or transfer all or substantially all our business or assets.
      </p>

      <h3>5. Your Choices</h3>
      <p>
        We provide you with choices about whether to provide us with personal information and whether it is shared. For example, we may seek your prior consent for certain processing. We are required to seek your consent before we use your personal information for any purpose incompatible with the purposes identified in this policy. You may withdraw your consent at any time by sending an email as specified in the “How to Contact Us” section below. Any withdrawal of consent is only effective on a going-forward basis and will not impact processing we undertook while relying on your consent.
      </p>
      <p>
        We generally only ask you for personal information that is necessary to provide the services you request. You can choose not to give us the personal information we request, as described in the “Information You Voluntarily Choose to Provide” section of this policy. However, in some cases, if you decide not to provide the personal information we request, we will not be able to provide the game, application, service, information, or features you requested.    
      </p>
      <p>
        Other examples of your choices include:
      </p>

      <p>
        You can browse our website without providing any personal information. We may collect some limited information automatically, as described above.
      </p>
      <p>
        You may opt out of receiving our messages at any time by using the opt-out mechanism provided in the message and website.
      </p>
      <p>
        You can change your privacy settings on other parties’ websites, such as social networks, which will stop or limit our receipt of information from those other websites. You also may choose not to use social features we make available. If you choose to use these features, you should refrain from posting personal information that will be visible to others, such as including your email address in a forum or during a chat.
      </p>
      <p>
        You may change your browser settings or take other steps to block, manage, or delete cookies. Not all of our websites and online services currently respond to browser “do not track” signals, so you will need to use your browser settings to effectively manage cookies. In some cases, blocking or disabling cookies may cause our websites, games, and applications not to work as intended and some features may not be available.
      </p>
      <p>
        You can limit interest-based advertising by opting out at www.aboutads.info/choices/ or www.networkadvertising.org/choices/. If you are located in Europe, more information is available at www.youronlinechoices.eu/.
      </p>
      <p>
        If you are under the age of 18 and have an account for our websites, mobile apps, game engines, games, or other online services, you may request that we remove certain content that you provided, such as deleting or editing comments you have posted. You also may ask us to assist you in removing or anonymizing content you have posted by contacting us as described in the How to Contact us section of this policy. Please be aware that taking these steps may not ensure complete or comprehensive removal of the content or information posted on our websites, online services, applications, or games. We also may not be able to remove content you post if applicable law requires us to maintain the posting or if another party has re-posted the content to a website, app, game or other online service that we do not own or control.
      </p>

      <h3>6. Access and Correction</h3>
      <p>
        We provide you with the ability to request access to and correction of your personal information. You can update your account information any time through our website. If you would like to request access to or correction of your personal information, please submit your request by sending an email to the address specified in the “How to Contact Us” section below. Please include your name, email address, and postal address in your request, and describe specifically the information that you would like to access or correct so that we may respond appropriately and promptly.
      </p>

      <h3>7. How We Protect Personal Information</h3>
      <p>
        We maintain appropriate administrative, technical, and physical safeguards to protect your personal information from accidental, unlawful, or unauthorized destruction, loss, alteration, access, disclosure, or use and other unlawful forms of processing. In some cases, your information is accessible when you log into a feature we offer, and in those cases you need to keep your user credentials and password confidential and secure so that your information is protected. 
      </p>

      <h3>8. Children’s Privacy</h3>
      <p>
        Birdfeed does not direct its websites, games, game engines, or applications to children (usually considered to be under the age of 13, depending on the country where you reside). We also do not intentionally collect personal information from children through our websites, games, game engines, or applications. If you are the parent or guardian of a child and you believe that we have inadvertently received personal information about that child, please contact us as described in the How to Contact Us section of this policy and we will delete the information from our records
      </p>

      <h3>9. Updates to Our Privacy Policy</h3>
      <p>
        This policy may be updated periodically to reflect changes in our personal information practices or relevant laws. We will indicate at the top of this policy when this policy was last updated. Please review this policy every time you access or use our websites, games, or applications to make sure that you have reviewed the most recent version.
      </p>

      <h3>10. Does this Policy apply to any other sites or services?</h3>
      <p>
        The Site may contain links to the websites of our artists, and to our advertisers, marketing partners, contest sponsors, or other third parties. Links, advertisements, promotions, or other mentions do not constitute our endorsement, authorization or representation of our affiliation with any third party, or of their products or services. Other sites may place their own cookies or other files on your computer, and collect or solicit both personally identifiable and non-personally identifiable information from you under rules different from this Policy. We do not control other sites, companies or persons and can’t be responsible for your experience once you leave our Site. Therefore, we strongly encourage you to read carefully the privacy policies, terms of use and other policies of other sites you visit.
      </p>

      <h3>11. How do I unsubscribe or update/correct my information?</h3>
      <p>
        E-mails that you receive from us will include specific instructions on how to unsubscribe from our e-mail list. You may also send an email to birdfeedsupport@dirtybird.com to update or correct the personal information we have on file for you or to be unsubscribed from all or any particular types of e-mailings. Obviously, however, as long as you remain subscribed to receive content from our participating labels or artists, we will continue sending that content to you by e-mail. California residents may request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an e-mail to birdfeedsupport@dirtybird.com. California residents who have an established business relationship with us may also choose to opt-out of our disclosing personal information about them to third parties for their direct marketing purposes. If you do not want us to share your personal information with such third parties, please send us your name, address and phone number to birdfeedsupport@dirtybird.com. This will not prohibit disclosures for non-marketing purposes.
      </p>

      <h2 id="opt-in-policy" class="h2-phosphate">OPT-IN POLICY</h2>
      <p>
        Your e-mail address will be used by the Dirtybird as with any general participant email. As an opt-in participant your email address will also be provided to third parties to provide you information about music industry related opportunities. This includes job opportunities, contracts, sub-contracts, products and services offered by associated comapnies & third parties.
      </p>

      <h3>1. Opt in Email Usage</h3>
      <p>
        Once collected, we may use your Personally Identifiable Information in a variety of ways including, but not limited to:
      </p>

      <ul class="dashed pl-2">
        <li>Provide service communications such as confirmations, program registrations, and community service messages</li>
        <li>Respond to your emails or online requests for products, services, or information</li>
        <li>Deliver and process surveys</li>
        <li>Personalize and improve the usability of the Sites</li>
        <li>Fulfill and/or deliver Global Game Jam® community tools products and services</li>
        <li>Tailor content, advertising and marketing to you</li>
        <li>Share with third parties as required by law</li>
      </ul>

      <p>
        Publish membership directories and registration lists to a limited audience (non-public distribution)
        Sharing with certain other companies to offer you products and services that may be of interest to you as described below:
      </p>

      <ul class="dashed pl-2">
        <li>Third party sponsors wishing to contact our community about products, services and opportunities</li>
        <li>Other game making contests, press, journalists or allied communities within the Global Game Jam® community network for the - purpose of announcing, recruiting, advertising and applauding efforts of GGJ participants.</li>
        <li>The organization reserves the right to provide these emails to third parties when explicit consent is provided by the participant.</li>
      </ul>

      <h3>2. How pricing & Payment </h3>
      <p>
        Fees are collected via credit card on a recurring basis. Members can cancel at any time, and any content they receive during membership is theirs to keep for their personal use forever.
      </p>
    </div>
  </div>
</div>
