<p class="feed-posted"> 
  <%= time_ago_in_words(activity['object'].created_at) %> ago.

  <div>
    <%= link_to activity['object'] do %>
      <% if activity['object'].avatar.present? %>
        <%= image_tag( activity['object'].avatar.url, class: "announcement-feed-avatar" ) %>
      <%end%>

      <b><%= activity['object'].title %></b>
    <% end %>
  </div>
</p>

<hr class="feed-divider">