<% if activity['object'].class == User %>
  <% comment = Comment.find activity['foreign_id'].split(':')[1] %>
  <p class="feed-posted">Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
    <h3><%= comment.title %></h3>
    <%= comment.body.truncate(200) %>
<% end %>
<hr>

<%#= activity.inspect %>