<p class="feed-posted"> 
  <%= time_ago_in_words(activity['time'].in_time_zone) %> ago.
</p>

<%= link_to activity['actor'].name, activity['actor'] %>
<em>
  has downloaded
  <%= activity['object'].class.to_s.downcase %>
</em>

<%= link_to activity['object'].title.truncate(20), activity['object'] %>

<hr class="feed-divider">