<article class="card w-100 mb-2">
  <div class="card-body">
    <%= activity['actor'].name %> 
    <small><em>is watching</em></small>
    <%= activity['object'].name %>
    <small><em>now</em></small>
  </div>
</article>
