<%= render 'user_profile_settings/header' %>

<div class="user-profile-settings">
  <div class="row">
    <div class="side-bar col-lg-3">
      <%= render partial: 'users/user_profile_nav', locals: {current_index: 'EGG'}  %>
    </div>
    <div class="main-content col-lg-9">
      <div class="row page-header">
        <div class="col-sm-6">
          <label class="title">
            REWARDS
          </label>
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'EGG CREDITS', usr_egg_credits_path, class: 'header-btn egg-credits-link-btn' %>
          <%= link_to 'REWARDS', usr_rewards_path, class: 'header-btn rewards-link-btn' %>
        </div>
      </div>
      <div class="row page-content rewards-content">
      	<div class="col-sm-12">
      		<p>YOU HAVE RECEIVED NO REWARDS AT THIS TIME</p>
      	</div>
      </div>
    </div>
  </div>
</div>