<div class="card w-100 mb-2">
  <div class="card-body">
    <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(activity['updated_at']) %> ago

    <% for activity in activity['activities'] %>
      <%= render_activity activity %>
    <% end %>
  </div>
</div>
