.user-present {
  margin-top: -24px;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  padding-top: 170px;

  .user-bgrd {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0b0b0b;
    height: 157px;
    width: 100%;

    & > img {
      height: 157px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.userpage-avatar {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  object-fit: cover;
  width: 182px;
  height: 182px;
  border-radius: 10px;

  img {
    object-fit: cover;
    width: 182px;
    height: 182px;
    border-radius: 10px;
  }
}

.user-since {
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0 0 15px;

  span {
    font-size: 10px;
    line-height: 8px;
  }

  img {
    margin-right: 7px;
    float: left;
  }
}

.artist-online {
  position: absolute;
  top: 37px;
  left: calc(50% - 85px);
  z-index: 3;
}

.follow-button {
  @include btn(#3ed4e0,white,darken(#3ed4e0, 5));
  width: 154px;
  height: 28px;
  position: absolute;
  right: 15px;
  top: 111px;
  z-index: 2;
}

.unfollow-state {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.artist-name {
  position: absolute;
  z-index: 2;
  top: 105px;
  left: 20px;
  color: white;

  h1 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 0;
    line-height: 12px;
  }

  span {
    font-size: 12px;
    text-transform: capitalize;
  }
}

.artist-social {
  float: right;
  margin-right: 16px;
}

.artist-bio {
  padding-top: 27px;
  width: 560px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;

  a {
    color: #222;
    text-decoration: underline;
  }
}

.artists-list-block {
  padding-left: 5px;

  .item-body {
    vertical-align: middle;
    height: auto;
    padding-top: 0;
  }

  & > li {
    margin-bottom: 24px;
  }

  h3 > a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .follow-button {
    position: static;
    margin-top: 10px;
  }
}

.item-wide {
  width: 525px;
  height: 194px;
  overflow: hidden;
  background-color: #222;
  border-radius: 20px 5px 20px 20px;
  color: white;
  font-size: 12px;
  margin-right: 13px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  white-space: normal;
  z-index: 2;

  .item-avatar > img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 16px;
    border-radius: 10px;
  }

  .item-body {
    display: inline-block;
    width: 300px;
    height: 185px;
    overflow: hidden;
    vertical-align: top;
    padding-top: 25px;

    h3 {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.75px;
      margin-bottom: 0;

      & + p {
        letter-spacing: 0.75px;
      }
    }
  }

  .item-expand {
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 7px;
  }

  .jp-controls-holder {
    padding: 0;
  }

  .release-listen {
    position: absolute;
    bottom: 15px;
    left: 45%;
  }

  .icon-download {
    position: absolute;
    bottom: 15px;
    right: 37px;
    z-index: 2;
  }

  .icon-share {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
  }
}