#artist-feed {
  border-top: 100px solid transparent;
  margin-top: -100px;
  background-clip: padding-box;
}

.feed-block {
  padding: 25px 30px 20px 25px;
  max-height: 1200px;
  font-size: 12px;
  
  h3 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 3px;
  }
}

.feed-tabs {
  list-style-type: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  li {
    display: inline-block;
    font-size: 12px;

    a.active {
      font-weight: 700;
    }
  }
}

.feed-divider {
  margin: 30px 0 25px;
}

.feed-item {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 11px);
    left: -15.5px;
    top: 16px;
    z-index: 1;
    background-color: #222;
  }

  &:last-child:before {
    display: none;
  }
}

.feed-replies {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 20px 20px 20px 0;
  margin-top: 23px;
}

.feed-reply {
  background-color: white;
  padding: 13px 20px;
  margin-bottom: 0;
  border-radius: 20px;
  display: inline-block;
  margin: 0 11px;
  margin-bottom: 10px;
}

.feed-owner {
  background-color: #c4ffeb;
}

.feed-form {
  margin-left: 20px;
  padding-bottom: 20px;

  [type=text], textarea {
    width: 100%;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  [type=submit] {
    float: right;
  }
}

.feed-posted {
  position: relative;
  font-size: 12px;

  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #222;
    left: -22px;
    top: 2px;
    border-radius: 8px;
  }
}

.comment-footer {
  text-align: right;

  & > span {
    margin-left: 13px;
  }
}