#user-feed {
  border-top: 100px solid transparent;
  margin-top: -100px;
  background-clip: padding-box;
}

.feed-block {
  padding: 25px 30px 20px 25px;
  font-size: 12px;
  
  h3 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 3px;
  }
}

.feed-tabs {
  list-style-type: none;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
  li {
    display: inline-block;
    font-size: 12px;

    a.active {
      font-weight: 700;
    }
  }
}

.feed-divider {
  margin: 20px 0 25px;
}

.feed-item {
  position: relative;
  padding-left: 60px;

  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 11px);
    left: -15.5px;
    top: 16px;
    z-index: 1;
    background-color: #222;
  }

  &:last-child:before {
    display: none;
  }
}

.post-owner {
  position: absolute;
  top: 28px;
  left: 0;
}

.feed-replies {
  background: #f7f7f7;
  padding: 20px 20px 20px 0;
  margin-top: 8px;
  text-align: center;
  border-radius: 0 0 10px 10px;

  .like-button img {
    vertical-align: middle;
  }
}

.feed-replies-list {
  & > div {
    display: none;
  }

  & > div:nth-last-child(-n+3) {
    display: block;
  }
}

.feed-reply {
  background-color: white;
  padding: 13px 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 11px;
  margin-bottom: 10px;
  font-size: 13px;
}

.feed-owner {
  background-color: #c4ffeb;
}

.feed-form {
  // background-color: #f7f7f7;
  // padding: 0 20px 40px;
  padding-bottom: 25px;
  padding-left: 15px;

  [type=text], textarea {
    width: 100%;
    border: 1px solid #3e3e3e;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  [type=submit] {
    float: right;
  }
}

.feed-posted {
  display: inline-block;
  white-space: nowrap;
  margin-right: -60px;
  width: 130px;
  position: relative;
  font-size: 10px;
  left: -60px;
  margin-bottom: 8px;
  color: #797979;

  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #222;
    left: -22px;
    top: 2px;
    border-radius: 8px;
  }
}

.comment-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feed-item-body {
  background-color: #e2e2e2;
  border-radius: 15px 15px 0 0;
  padding: 10px 15px;
}

.comment-footer-divider {
  opacity: 0.26;
  background-color: #222;
  width: 1px;
  height: 30px;
}

.announcement-feed-avatar {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}
