header {
  margin-bottom: 80px;
  color: white;
  transition: margin 0.3s;

  a {
    color: white;
    &:hover {
      color: darken(white, 8);
    }
  }
}

.nav-divider {
  width: 0;
  height: 33px;
  border: 1px solid white;
  margin: 2px 20px 0;
}

.nav-signup-btn {
  width: 78px;
  height: 28px;
  margin: 4px 15px 0 10px;
}

.nav-signin-btn {
  font-size: 10px;
  background: transparent;
  color: white;
  &:hover {
    color: darken(white, 10);
  }
  &:focus, &:active {
    color: black;
  }
}