.fans-block {
  max-height: 450px;
  padding-left: 15px;

  & li {
    list-style-type: none;
    counter-increment: step-counter;
    font-size: 12px;
    position: relative;
    padding-left: 30px;
    &:before {
      position: absolute;
      top: 30px;
      left: 0;
      content: counter(step-counter);
      margin-right: 20px;
      font-size: 24px;
    }
  }

  .progress-wrapper {
    width: 78%;
  }

  .fan-name {
    display: inline-block; 
    width: 165px; 
    overflow: hidden; 
    white-space: nowrap;
  }

  .fan-body {
    display: inline-block; 
    width: 80%; 
    margin-left: 20px; 
    margin-bottom: 2px; 
    vertical-align: bottom;
  }
}

.users-block {
  max-height: 450px;

  li {
    margin-bottom: 20px;
    padding-left: 15px;
    
    & > div {
      display: inline-block;
      width: 50%;
      font-size: 12px;
      vertical-align: middle;
      margin-left: 17px;

      h5 {
        font-size: 12px;
        letter-spacing: 1.2px;
        line-height: 15px;
        margin-bottom: 0;
        text-transform: uppercase;

        a {
          color: white;
        }
      }
    }
  }

  .user-subtitle {
    color: white;

    a {
      color: white;
    }
  }
}

.item-with-tongue {
  position: relative;
  display: inline-block;
  white-space: normal;
  text-align: center;

  & > mark.t-small {
    display: inline-block;
    position: absolute;
    bottom: -25px;
    left: 50%;
    z-index: 2;
    background-color: white;
    padding: 3px 10px;
    border-radius: 0 0 4px 4px;
    transform: translateX(-50%);

    font-size: 13px;
    color: #e75e35;
    box-shadow: 1px 1px #80808052;
    white-space: nowrap;


  }

  & > div {
    position: relative;
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    vertical-align: top;
  }

  .item-body {
    padding: 0 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;

      & + img {
        opacity: 0;
      }
    }

    & + img {
      opacity: 1;
      transition: opacity 0.4s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      border-radius: 5px;
      width: 236px;
      height: 248px;
      object-fit: cover;
    }

    h3 {
      font-size: 12px;
      margin: 0 0 12px;

      a {
        text-decoration: none;
        color: #222;
      }
    }

    p {
      font-size: 10px;
      margin-bottom: 5px;    

      a {
        text-decoration: none;
        color: #222;
      }
    }
  }

  .item-panel {
    height: 184px;
    overflow: hidden;
    margin-top: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0.5);
  }

  .item-blured-img {
    filter: blur(10px);
    border-radius: 5px;
    width: 236px;
    height: 248px;
    object-fit: cover;
  }

  .item-footer {
    padding: 4px 11px 8px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3ed4e0;

    & > a:first-child {
      float: left;
      margin-top: 5px;
    }

    & > a.share-link {
      margin-top: 5px;
      float: right;
    }
  }
}
