.dropdown-notify-menu {
  & > a img {
    vertical-align: top;
    margin-top: 2px;
  }

  .dropdown-menu { 
    background-color: white;
    padding: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    right: -25px !important;
    top: 33px;

    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border: 10px solid transparent;
      border-bottom: 10px solid white;
      top: -20px;
      right: 22px;
      z-index: 3;
    }
  }
  
  .nav-notify {
    width: 290px;
    font-size: 12px;
    padding: 5px;
    position: relative;

    a {
      color: #222;
    }

    .feed-avatar {
      width: 40px;
      height: 40px;
      border-radius: 21px;
    }
  }

  .nav-notify-count {
    position: absolute;
    z-index: 3;
    background-color: #ff7272;
    border-radius: 15px;
    top: -10px;
    left: -15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;  
  }

  .notify-seen {
    font-weight: 700;
  }

  // @media not all and (min-resolution:.001dpcm)
  // { @supports (-webkit-appearance:none) {
  //   .dropdown-menu { 
  //     backdrop-filter: blur(4px); 
  //     background-color: rgba(255,255,255,0.8);
  //   } 
  // }}
}

.notify-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  h5 {
    font-size: 12px;
    color: #ff7272;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
  }

  .is-read-btn {
    // float: right;
    font-size: 10px;
    color: #797979;
    font-weight: bold;
    line-height: 11px;
  }
}

.notify-list {
  max-height: 400px;
  overflow: scroll;
}

.notify-item {
  display: inline-block; 
  width: calc(100% - 48px); 
  line-height: 12px; 
  font-size: 12px; 
  margin-left: 5px;
  white-space: nowrap;

  .notify-object {
    font-weight: normal; 
    font-size: 12px; 
    text-transform: lowercase; 
    margin: 0;
    max-width: none;
  }

  .notify-author {
    color: #6e6e6e; 
    margin: 0 !important; 
    text-transform: none !important;
  }

  .notify-time {
    color: #6e6e6e; 
    font-size: 11px; 
    text-transform: lowercase; 
    margin: 0; 
    padding-top: 3px;
  }

  &.is_read {
    color: gray !important;
  }
}

.notify-release-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}

.notify-release-caption {
  font-weight: 300;
  color: #ff7272;
  margin: 0 !important;
  vertical-align: top !important;
}