.playlist-player {
  background-color: #4a4a4a;
  width: calc(100% + 30px);
  height: 110px;
  z-index: 3;
  left: 0;
  bottom: 0;
  padding: 15px 25px;
  margin-left: -15px;
  margin-bottom: -24px;
  color: white;

  .pp-previous {
    background: asset-data-url("icons/media-backward-md.png");
    width: 23px;
    height: 18px;
    cursor: pointer;

    &:hover {
      background: asset-data-url("icons/media-backward-md-hover.png");
    }
  }

  .pp-next {
    background: asset-data-url("icons/media-forward-md.png");
    width: 23px;
    height: 18px;
    cursor: pointer;

    &:hover {
      background: asset-data-url("icons/media-forward-md-hover.png");
    }
  }

  .pp-play {
    background: asset-data-url("icons/play-md.png");
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin: 0 30px;

    &.playing {
      background: asset-data-url("icons/pause-md.png");
    }

    &.loading {
      background-image: asset-data-url("icons/loading.gif") !important;
      background-size: 42px 42px;
      display: inline-block;
      content:"";
    }
  }

  .pp-track {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.72px;
    font-weight: 700;
    white-space: nowrap;
  }

  .pp-artist {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.72px;
    white-space: nowrap;

    &:before {
      content: 'By ';
    }
  }

  .pp-volume-block {
    position: absolute;
    bottom: 5px;
    left: 25px;
  }

  .pp-volume {
    margin-top: 2px;
  }

  .pp-volume-bar {
    background: white;  
    width: 100px;
    height: 8px;
    overflow: hidden;
    cursor: pointer; 
    border-radius: 5px;
  }

  .pp-volume-bar-value {
    background-color: #ff7272;
    height: 8px;
    border-radius: 5px; 
  }

  .pp-seek-bar {
    width: 340px;
    height: 8px;
    border-radius: 5px;
    background: white;  
  }

  .pp-play-bar {
    width: 0%;
    height: 8px;
    border-radius: 5px;
    background-color: #222;
  }

  .pp-current-time, .pp-time-left {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px;
  }

  .pp-like {
    position: absolute;
    display: inline-block;
    bottom: 9px;
    left: -30px;
  }

  .pp-add {
    position: absolute;
    bottom: 10px;
    left: -18px;

    button {
      color: white;
      font-weight: 700;
      font-size: 21px;
    }
  }

  .pp-rate {
    position: absolute;
    bottom: 10px;
    left: 4px;

    .nav-track-star {
      border: none;
      padding: 0;
    }
  }
}
