.jp-audio {
  position: fixed;
  top: -20px;
  height: 40px;
  width: 100%;
  background-color: #3e3e3e;
  transition: top 0.3s;
  z-index: 1061;
  font-family: "Roboto Mono";
  display: inline-block;
  text-align: right;

  .jp-controls {
    padding: 12px 0;
  }
}

.jp-interface {
  display: flex;
  justify-content: space-between;
}

.jp-controls {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    font-size: 12px;
    cursor: pointer;

    svg {
      width: 11px;
      height: 11px;
      path {
        fill: white;
      }
    }
  }
}

.jp-current-time, .jp-duration, .jp-current-time-track, .jp-duration-track {
  font-size: 10px;
  font-weight: 700;
  margin: 0 6px;
  line-height: 9px;
}

.jp-previous {
  margin-left: 10px;
  background: asset-data-url("icons/media-backward.svg") no-repeat;
  &:hover {
    background-image: asset-data-url("icons/media-backward-hover.svg");
  }
  &.jp-disabled {
    cursor: default;
    background-image: asset-data-url("icons/media-backward-hover.svg");
  }
}

.jp-play {
  margin: 0px 4px;
  background: asset-data-url("icons/media-play.svg") no-repeat;
  &:hover {
    background-image: asset-data-url("icons/media-play-hover.svg");
  }
}

.jp-next {
  margin-right: 10px;
  background: asset-data-url("icons/media-forward.svg") no-repeat;
  &:hover {
    background-image: asset-data-url("icons/media-forward-hover.svg");
  }
  &.jp-disabled {
    cursor: default;
    background-image: asset-data-url("icons/media-forward-hover.svg");
  }
}

.jp-previous, .jp-play, .jp-next {
  background-size: 12px 12px;
  outline: none !important;
  width: 12px;
  height: 12px;
}

.jp-volume {
  margin-left: 15px;
}

.jp-volume-btn {
  width: 13px;
  height: 13px;
  outline: none !important;
  margin-left: 12px;
  font-size: 11px !important;
}

.jp-volume-controls {
  display: flex;
}

.jp-volume-bar {
  background: asset-data-url("jplayer/jplayer.pink.flag.jpg") 0px -300px repeat-x;  
  width: 100px;
  height: 10px;
  overflow: hidden;
  cursor: pointer; 
}

.jp-volume-bar-value {
  background: asset-data-url("jplayer/jplayer.pink.flag.jpg") 0px -320px repeat-x;
  height: 10px; 
}

.jp-details {
  font-size: 10px;
  flex-grow: 1;
  text-align: center;
  position: relative;
  top: 10px;
  transition: top 0.3s;
  padding: 12px 0;
}

.jp-title {
  display: inline-block;
}

.jp-proggress-container {
  background-color: #222;
  margin-right: -15px;
}

.jp-type-playlist {
  text-align: right;
}

#jp-playlist-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.jp-playlist {
  opacity: 0.97;
  border-radius: 0 0 5px 5px;
  text-align: left;
  background-color: gray;
  display: inline-block;
  margin-right: 150px;

  ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
  }

  li {
    outline: none;
    font-size: 14px;
  }
}

.jp-playlist-item-remove {
  float: right;
  margin-left: 10px;
}

.jp-playlist-current {
  color: #959ded;

  &:hover {
    color: #828cea;
  }
}

.jp-playing {
  background-image: asset-data-url("icons/media-pause.svg");
}

.jp-playing:hover {
  background-image: asset-data-url("icons/media-pause-hover.svg");
}
