.jp-audio {
  position: fixed;
  top: 0px;
  // top: -20px;
  height: 40px;
  width: 100%;
  background-color: #3e3e3e;
  transition: top 0.3s;
  z-index: 1061;
  font-family: "Roboto Mono";
  display: inline-block;
  text-align: center;

  .jp-controls {
    padding: 12px 0;
  }
}

.jp-interface {
  display: flex;
  justify-content: space-between;
}

.jp-controls {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    font-size: 12px;
    cursor: pointer;

    svg {
      width: 11px;
      height: 11px;
      path {
        fill: white;
      }
    }
  }

  .individual-track-star-wrapper {
    .rate-track-btn {
      font-size: 8px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      padding-top: 6px;

      &.user-rate-mark {
        color: #ff7777;
        margin-left: 2px;
        img {
          margin-right: 3px;
        }
      }

      &.rate-word-btn {
        border-bottom: 1px solid #fff;
      }

    }
    .individual-track-star {
      float: left;
    }
    .user-rate-wrapper {
      float: left;
    }
  }
}

.jp-current-time, .jp-duration, .jp-current-time-track, .jp-duration-track {
  font-size: 10px;
  font-weight: 700;
  margin: 0 6px;
  line-height: 9px;
}

.jp-previous {
  margin-left: 10px;
  background: asset-data-url("icons/media-backward.svg") no-repeat;
  &:hover {
    background-image: asset-data-url("icons/media-backward-hover.svg");
  }
  &.jp-disabled {
    cursor: default;
    background-image: asset-data-url("icons/media-backward-hover.svg");
  }
}

.jp-play {
  margin: 0px 4px;
  background: asset-data-url("icons/media-play.svg") no-repeat;
  &:hover {
    background-image: asset-data-url("icons/media-play-hover.svg");
  }

  &.loading {
    background-image: asset-data-url("icons/loading.gif") !important;
  }
}

.jp-next {
  margin-right: 10px;
  background: asset-data-url("icons/media-forward.svg") no-repeat;
  &:hover {
    background-image: asset-data-url("icons/media-forward-hover.svg");
  }
  &.jp-disabled {
    cursor: default;
    background-image: asset-data-url("icons/media-forward-hover.svg");
  }
}

.jp-previous, .jp-play, .jp-next {
  background-size: 12px 12px;
  outline: none !important;
  width: 12px;
  height: 12px;
}

.jp-volume {
  margin: 2px 0 0 15px;
}

.jp-volume-btn {
  width: 13px;
  height: 13px;
  outline: none !important;
  margin-left: 12px;
  font-size: 11px !important;
}

.jp-volume-controls {
  display: flex;
}

.jp-volume-bar {
  background: gray;  
  width: 100px;
  height: 10px;
  overflow: hidden;
  cursor: pointer; 
}

.jp-volume-bar-value {
  background: #e75e35;
  height: 10px; 
}

.jp-details {
  font-size: 10px;
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .like-button > img {
    vertical-align: middle;
  }
}


.nav-rate-track-wrapper {
  padding-top: 10px;
  .rate-track-btn {
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;    
    border-bottom: 1px solid #fff;
  }
  .user-rate-mark {
    color: #ff7777;
    font-size: 8px;
    font-weight: bold;    
    text-align:center;
    border: none;
    img {
      margin-right:2px;
    }
  }
  .nav-track-star {
    border-left: 1px solid #fff;
    padding-left: 10px;
    float: left;
    margin-right: 5px;
  }
  .user-rate-wrapper {
    padding-top: 5px;
    float: right;
    display: block;
  }
}
.nav-track-star {
  border-left: 1px solid #fff;
  padding-left: 10px;
}

.jp-title {

  a:hover {
    color: #3ed4e0;
  }

  .like-button img {
    margin-top: 1px;
  }
}

.jp-progress-container {
  margin-right: -15px;
  position: relative;

  &.loading:after {
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 12px;
  }
}

#waveform {
  & > wave {
    &:last-child {
      display: none !important;
    }

    & > canvas {
      background-color: #3e3e3e;
      width: 0;
    }
  }
}

.jp-play.playing {
  background-image: asset-data-url("icons/media-pause.svg");
}

.jp-play.playing:hover {
  background-image: asset-data-url("icons/media-pause-hover.svg");
}

.credits-menu {
  position: relative;
}

.credits-btn {
  color: #ff7e7e;
  font-size: 10px;
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  position: relative;
  z-index: 2;
}

.credits-dropdown {
  position: absolute;
  top: 40px;
  left: 50%;
  background-color: white;
  padding: 10px 15px;
  color: #222;
  font-family: "Titillium Web";
  font-size: 10px;
  font-weight: 700;
  transform: translateX(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -20px;
    right: calc(50% - 5px);
    z-index: 3;
  }
}

.jp-player-btn {
  margin: 0 10px 0 -15px;
  color: white;
  background-color: #ff7979;
  font-family: 'Phosphate-Inline';
  font-size: 12px;
  line-height: 41px;
  padding: 0 22px;
  height: 40px;
  letter-spacing: 0.36px;
}
