// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-messages {
  margin-left: 45px;
  text-align: left;
  position: relative;

  &:after {
    content:'';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 2px;
    height: calc(100% - 20px);
    background-color: #3ed4e0;
  }

  &.replies {

    &:before {
      position: absolute;
      left: -33px;
      top: 7px;
      content: asset-data-url("icons/reply-arrow.png");
    }
  }

  &.replies-hidden:before {
    display: none;
  }

  .post-user-avatar {
    width: 26px;
    height: 26px;
  }

  .nested-messages .nested-messages .nested-messages .nested-messages {
    margin-left: 0;
  }

  .nested-messages .reply-arrow {
    display: none;
  }
}

.btn-post-edit {
  width: 10px;
  height: 10px;
  margin: 0 4px;
}

.comment-text {
  font-size: 14px;
}

.reply-arrow {
  position: absolute;
  left: -28px;
  top: 7px;
}