// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-messages {
  margin-left: 30px;
  text-align: left;

  .nested-messages .nested-messages .nested-messages {
    margin-left: 0;
  }
}

.btn-post-edit {
  width: 10px;
  height: 10px;
  margin: 0 4px;
}