@mixin with_arrow_down($color) {
  background-color: $color;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid $color;
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
  }
}


.pricing-table {
  color: #646464;
  font-family: 'Phosphate-Solid';
  font-size: 15px;
  letter-spacing: 0.72px;
  width: 100%; 
  table-layout: fixed;

  th {
    color: white;
    height: 170px;

    &:nth-child(1) {
      color: #646464;
    }

    &:nth-child(2) {
      @include with_arrow_down(#faae03);
    }

    &:nth-child(3) {
      @include with_arrow_down(#ff7979);
    }

    &:nth-child(4) {
      @include with_arrow_down(#3ed4e0);
      border-radius: 0 7px 0 0;
    }

    .text-1 {
      font-size: 35px;
      line-height: 35px;
    }

    .text-2 {
      font-size: 13px;
      letter-spacing: 0.58px;
      
      span {
        font-size: 64px;
        line-height: 64px;
      }
    }

    .text-3 {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.54px;
      font-family: "Titillium Web";
    }
  }


  tr {
    height: 78px;
  }

  td {
    padding: 0 15px;
    border-left: 1px solid rgba(112, 112, 112, 0.11);

    &:first-child { 
      border-left: none; 
    }
  }

  tr:nth-child(even) {
    background-color: rgba(219, 219, 219, 0.4);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .title-col {

  }
}

.common-questions {

  h2 {
    color: #393939;
    font-family: 'Phosphate-Solid';
    font-size: 28px;
    text-align: center;
  }

  h3 {
    font-weight: 700;
  }

  h3, p {
    color: #2f2f2f;
    font-size: 20px;
    line-height: 24px;
    padding-right: 30px;
  }
}
