.release-present {
  margin-top: -24px;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  padding-top: 80px;

  .release-bgrd {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3eaee0;
    height: 60px;
    width: 100%;

    & > img {
      height: 60;
      width: 100%;
      object-fit: cover;
    }
  }

  .bg-green {
    background-color: #f9d264;
  }
}

.release-exclusive {
  font-size: 12px;
  line-height: 14px;
  margin: 10px 10px 0 0;

  font-weight: bold;
  color: white;
  display: inline-block;

  img {
    margin-right: 7px;
    float: left;
  }

  & > div {
    display: inline-block;
    text-align: left;
  }
}

.raty-cancel {
  display: none;
}

.release-header {
  padding: 10px 15px 10px 310px;

  .release-likes {
    display: inline-block;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    margin-left: 10px;

    a {
      color: white;

      img {
        margin-bottom: 8px;
        margin-left: 3px;
      }
    }

    .likes-count {
      font-size: 18px;
    }
  }

  .release-rate {
    display: inline-block;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    margin-left: 10px;

    .star {
      vertical-align: bottom;
      margin-bottom: 1px;
      margin-left: 5px;
    }
  }

  .like-button {
    display: inline-block;
    margin: 0 6px;
    vertical-align: unset;
  }
}

.release-icon {
  float: right;
  display: inline-block;
  margin-top: 5px;
  margin-left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  img {
    width: 20px;
    height: 20px;
  }
}

.collapse-formats {
  z-index: 1025;
  position: relative;
  text-align: right;
}

.collapse-track-formats {
  z-index: 1025;
  position: relative;
  text-align: right;
  top: -30px;
}

.release-avatar {
  width: 276px;
  height: 276px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  border-radius: 10px;
}

.release-info {
  margin-left: 310px;
  min-height: 217px;
  
  h1 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-bottom: 0;
  }

  div {
    font-size: 12px;
  }

  .release-date {
    letter-spacing: 0.75px;
    font-size: 12px;
   }

  .follow-button {
    margin-top: 30px;
    position: static;
  }

  form {
    display: inline-block;
    margin-right: 10px;
  }
}

.track-item {
  overflow: hidden;
  background-color: #222;
  border-radius: 20px 5px 20px 20px;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 18px;
  height: 100px;
  position: relative;

  h3 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-bottom: 0;

    & + p {
      letter-spacing: 0.75px;
    }
  }

  .jp-controls {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 15px;
    align-items: center;

    .star {
      margin-bottom: 5px;
    }
  }
}

.follow-button-black {
  @include btn(#323333,white,#434444);
  position: absolute;
  top: 19px;
  right: 150px;
}

.follow-form {
  display: inline-block;
}

.users-block {
  .follow-form {
    margin-left: -10px;
    
    input[type=submit] {
      width: 70px;
    }

    .unfollow-state {
      opacity: 1;
      color: #222;
      background-color: white;
    }
  }
}