#searchModal {
  .modal-header {
    padding: 0;
  }

  .close {
    float: right;
    margin: 3px;

    span {
      font-size: 40px;
      top: 0;
    }
  }
}

.aa-input-container {
  display: inline-block;
  position: relative;
}
.aa-input-search {
  height: 90px;
  width: 600px;
  padding: 12px 28px 12px 70px;
  border: none;
  background: none;
  -webkit-transition: .2s;
  transition: .2s;
  box-sizing: border-box;
  color: #222;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
  display: none;
}
.aa-input-search:focus {
  outline: 0;
}
.aa-input-icon {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.aa-hint {
  color: #e4e4e4;
}
.aa-dropdown-menu {
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 0;
  width: 797px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}
.aa-suggestions {
  display: inline-block !important;
  width: calc(100% - 110px);
}
.aa-suggestion {
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
  background-color: rgba(241, 241, 241, 0.35);
}
.aa-suggestion > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  &:focus, &:active {
    text-decoration: none;
    outline: none;
  }
}
.aa-suggestion span:first-child {
  color: #333;
}
.aa-suggestion span:last-child {
  color: #a9a9a9;
}
.aa-suggestion img {
  max-width: 80px;
  margin-right: 10px;
}
.aa-suggestions-category {
  border-right: 1px solid #707070;
  padding: 6px 12px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  font-weight: 700;
  height: 100%;
}
.aa-suggestion span:first-child em, .aa-suggestion span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px;
}
.aa-dropdown-menu > div {
  display: inline-block; 
  width: 100%; 
  vertical-align: top; 
}
.aa-empty {
  padding: 6px 12px;
}