#payment-form {
  width: 400px;
}

.big-blue-number {
  color: #3ed4e0;
  font-family: 'Phosphate-Solid';
  font-size: 60px;
  float: left;
  line-height: 40px;
  margin-right: 30px;
  height: 70px;
}

.signup-header {
  height: 366px;
  width: calc(100% + 30px);
  margin: -24px -15px -125px;
  z-index: 1;
  overflow: hidden;

  .signup-logo {
    height: 200px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: calc(50% - 125px);
    transform: translate(-50%,-50%);
  }
}

.signup-panel {
  max-width: 95%;
  margin: 0 auto 25px;
  z-index: 2;
  position: relative;
  padding: 40px;

  h1 {
    color: #393939;
    font-family: 'Phosphate-Solid';
    font-size: 31px;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 0;
  }

  .plan-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .plan-block {
    width: 313px;
    height: 169px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 13px;
    border: 1px solid rgba(112, 112, 112, 0.31);
    background-color: #ffffff;
    position: relative;
    cursor: pointer;

    &.active {
      background-color: #ff7979;

      &:before {
        content: asset-data-url('icons/check-circle.svg');
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px;
      }

      div, span {
        color: white !important;
      }
    }

    .text-1 {
      text-align: center;
      color: #3ed4e0;
      font-size: 35px;
      line-height: 70px;
      font-weight: 900;
      margin-top: 10px;
    }

    .text-2 {
      text-align: center;
      color: #5f5f5f;
      font-size: 70px;
      font-family: 'Phosphate-Solid';
      line-height: 30px;

      span {
        font-size: 13px;
        letter-spacing: 0.58px;
      }
    }

    .text-3 {
      text-align: center;
      color: #3ed4e0;
      font-size: 12px;
      letter-spacing: 0.54px;
    }
  }

  .plan-period-switcher {
    display: inline-block;
    position: relative;
    top: -8px;

    .switcher-btn {
      color: #464646;
      font-family: 'Phosphate-solid';
      font-size: 18px;
      letter-spacing: 0.81px;
      vertical-align: middle;
      cursor: pointer;
    }

    .switcher {
      display: inline-block;
      width: 85px;
      height: 37px;
      border: 1px solid #3ed4e0;
      background-color: #3ed4e0;
      position: relative;
      border-radius: 20px;
      cursor: pointer;
      vertical-align: middle;

      &:after {
        transition: left 0.2s;
        content: '';
        position: absolute;
        z-index: 2;
        top: -1px;
        left: -1px;
        width: 37px;
        height: 37px;
        border: 1px solid #3ed4e0;
        background-color: #ffffff;
        border-radius: 20px;
      }

      &.monthly:after {
        left: 48px;
      }
    }
  }
}

.form-signin {
  margin-top: 20px;

  .required:after {
    content: ' (*Required)';
    color: #ff0000;
  }

  .form-control {
    height: 40px;
    border-radius: 3px;
    background-color: #e2e2e2;
    border: none;
  }

  .select2 {
    display: block;

    .select2-selection {
      outline: none;
      background-color: #e2e2e2;
      border: none;
      height: 40px;
    }

    .select2-selection__arrow {
      height: 40px;
    }

    .select2-selection__rendered {
      line-height: 40px;
    }
  }
}
