@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Roboto+Mono:400,700");

@mixin btn($b-color,$t-color,$a-color) {
  font-size: 10px;
  color: $t-color;
  background-color: $b-color;
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $t-color;
    color: $b-color;
    box-shadow: inset 0 0 2px 0px $b-color;
  }
  &:focus, &:active {
    background-color: $a-color;
    color: $t-color;
  }
}

@mixin v-scroll($tr-color,$th-color,$h-color) {
  overflow: scroll;
  &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 21px;
      height: 0px;
  }

  &::-webkit-scrollbar-track {
      background: $tr-color; 
      -webkit-border-radius: 7px;
  }
   
  &::-webkit-scrollbar-thumb {
      background: $th-color; 
      border-radius: 8px;
      border: 5px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: $h-color; 
      border-radius: 7px;
      border: 5px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
  }
}

.light-scroll {
  @include v-scroll(#f2f2f2,#222,#777)
}

.dark-scroll {
  @include v-scroll(#222,white,#414141)
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #222;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 100px;
  // padding-top: 80px;
  background-color: #4b4b4b;
}

main > div.container {
  background-color: #f7f7f7;
  flex: 1;
}

button, input[type=submit], a {
  outline: none;

  &:active, &:hover, &:focus {
    outline: none;
  }
}

.notice, .alert {
  cursor: pointer;
  font-size: 12px;
  position: fixed;
  top: 110px;
  right: 60px;
  padding: 13px 35px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  color: #222;
  display: none;
  z-index: 1059;
}
.notice {
  background-color: white;
}
.alert {
  background-color: pink;
}

.c-btn-white {
  @include btn(white,#3ed4e0,darken(white, 5));
}
.c-btn-blue {
  @include btn(#3ed4e0,white,darken(#3ed4e0, 5));
}
.c-btn-transparent {
  @include btn(transparent,#3ed4e0,rgba(255,255,255,0.3));
  box-shadow: inset 0 0 2px 0px #3ed4e0;
  &:hover {
    color: white;
  }
}

.star {
  display: inline-block;
}

.c-btn-sm {
  padding: 3px 10px;
}

.t-small {
  font-size: 8px;
}

.c-link {
  font-size: 10px;
  color: white;
  &:hover {
    color: darken(white, 10);
  }
  &:focus, &:active {
    color: black;
  }
}

.like-button {
  img {
    vertical-align: top;
  }
}

.fz-23 {
  font-size: 23px !important;
}

.avatar-micro {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.btn-bg-red {
  background-color: #ff575d;
  &:hover {
    background-color: #ff475d;
  }
  &:focus, &:active {
    background-color: #ff375d;
  }
}

.btn-bg-blue {
  background-color: #5764ff;
  &:hover {
    background-color: #5754ff;
  }
  &:focus, &:active {
    background-color: #5744ff;
  }
}

.btn-bg-dark {
  background-color: #222;
  &:hover {
    background-color: #333;
  }
  &:focus, &:active {
    background-color: #444;
  }
}

.btn-bg-gray {
  background-color: #a8a8a8;
  &:hover {
    background-color: #b9b9b9;
  }
  &:focus, &:active {
    background-color: #ccc;
  }
}

.bg-c-dark {
  background-color: #414141;
  color: white;
}

.btn-wide {
  padding-left: 50px;
  padding-right: 50px;
}

.c-flag {
  display: inline-block;
  padding: 10px;
  text-align: center;
  background: asset-data-url("icons/c-flag.svg") no-repeat;
  min-width: 186px;
  height: 50px;
  position: relative;
  top: -3px;
  left: -25px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.4px;
  z-index: 2;

  & > img {
    margin-top: -5px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 95%;
    height: 41px;
    background-color: #222;
    z-index: -1;
  }

  & + a, & + button {
    float: right;
    position: relative;
    z-index: 2;
  }
}

.c-flag-inner {
  left: -25px;
}

.release-flag-block {
  position: relative;
  margin: 6px 0 15px;
}

.c-flag-links {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;

  & > * {
    color: #030303;
    margin: 0 15px;
  }
}

.c-panel {
  border-radius: 7px;
  padding: 15px;
  position: relative;
  color: white;

  .panel-sign {
    font-size: 12px;
    letter-spacing: 0.72px;
    line-height: 16px;

    h4 {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 3px;
      margin-top: 10px;
    }

    p {
      margin-bottom: 3px;
    }
  }
}

.c-panel.bg-white {
  color: #222;

  a:not(.btn) {
    color: #222;
  }
}

.point-green {
  vertical-align: top;
  margin-top: 2px;
}

.likes-count {
  display: inline-block;
}

.user-avatar {
  width: 72px;
  height: 72px;
  border-radius: 37px;
}

.post-user-avatar {
  width: 44px;
  height: 44px;
  border-radius: 23px;
}

.max-height-none {
  max-height: none !important;
}

.rating-chart {
  .rating-kinds {
    float: left; 
    line-height: 20px; 
    margin-right: 10px;
  }

  .rating-kind-points {
    float: right; 
    line-height: 20px; 
    width: 30px;
    font-weight: 700;
  }

  .progress-wrapper {
    display: inline-block; 
    vertical-align: top; 
    margin: 3px 10px 0 0;
  }

}
  .progress-wrapper-sm {
    display: inline-block; 
    vertical-align: top; 
    margin: 3px 10px 0 0; 
    width: 50%;
  }

@mixin progress($color) {
  padding: 3px;
  overflow: hidden;
  height: 17px;
  border-radius: 5px;
  position: relative;
  background-color: #f0f0f0;

  .c-progress-bar {
    height: 100%;
    border-radius: 4px;
    background-position: -3px 0;
    background-color: $color;
    overflow: hidden;
    transition: width 0.3s;

    &:after {
      background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10%,
        white 10%,
        white calc(10% + 1px)
      );
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      padding: 4px;
      content:'';
      z-index: 1;
    }
  }
}

.progress-blue {
  @include progress(#3ed4e0);
}

.progress-yellow {
  @include progress(#ffce00);
}

.progress-red {
  @include progress(#ff7272);
}

.truncated-description {
  article, .truncated-short {
    display: none;
  }

  article:first-child {
    display: block;
  }
}

#change-avatar {

  &:hover:after{
    height: 30px;
  }
  
  &:after {
    transition: height 0.3s;
    content: 'Update Profile Picture';
    background-color: #222;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    vertical-align: middle;
  }
}

.change-avatar {
  padding-bottom: 0;
  text-align: center;
  position: relative;
}

.form-control-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.scroll-bottom {
  cursor: pointer;
}
