.user-edit-profile {
	background-color: #ffffff;
	margin:0 15px;
	padding: 0 15px 70px 0;

	label {
		font-size: 16px;
		letter-spacing: 0.72px;
		color: #434343;
		font-family: 'Phosphate-Solid';
	}	

	.profile-btn {
		height: 38px;
		border-radius: initial;
		font-size: 16px;

		&.upload-profile-avatar {
			margin: 30px 0;
		}
	}

	.user-profile-edit-header {
		margin-top: 40px;
		.profile-label {
			padding: 0;
			font-size: 36px;			
			letter-spacing: 1.62px;			
		}
		.profile-question {
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.68px;
			line-height: 18px;
			font-family: "Titillium Web";
		}
	}

	.profile-avatar-area {
		padding-right: 40px;
	}

	.shipping-address-group {
		margin-left: 0px;
		margin-right: 0px;
		border: 1px solid rgba(112, 112, 112, 0.24);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
		border-radius: 6px;
		background-color: #ffffff;

		.shipping-address-group-header {
			padding: 15px;

			.header {
				font-size: 20px;
			    letter-spacing: 0.9px;
			    color: #434343;
			}
			.description {
				font-size: 15px;
			    font-weight: 400;
			    letter-spacing: 0.68px;
			    line-height: 18px;
			    color: #434343;
			    font-family: "Titillium Web";
			}
		}
	}

	.t-shirt-size-group {
	    margin-top: 350px;
	    padding-top: 0px;
	    height: 100px;
	    border: 1px solid rgba(112, 112, 112, 0.24);
	    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
	    border-radius: 6px;
	    background-color: #ffffff;

	    .form-group {
			margin: 15px;
		    width: 100%;	    
	    }
	}

}
