<div class="jp-audio" id="cPlayer" data-turbolinks-permanent>
  <div class="container">
    <div class="jp-interface">
      <div class="jp-controls">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <button class="jp-previous" role="button" tabindex="0"></button>
        <button class="jp-play" role="button" tabindex="1"></button>
        <%= image_tag 'icons/loading.gif', class: 'track-load' %>
        <button class="jp-next" role="button" tabindex="2"></button>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>

        <div class="jp-volume-controls">
          <button class="jp-volume-btn" tabindex="3"><%= show_svg('icons/volume-high.svg') %></button>

          <div class="jp-volume d-none">
            <!-- <button class="jp-mute" role="button" tabindex="4">mute</button> -->
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
      <!--       <div class="jp-seek-bar" style="width: 150px">
              <div class="jp-play-bar"></div>
            </div> -->
            <!-- <button class="jp-volume-max" role="button" tabindex="5">max</button> -->
          </div>
        </div>
      </div>
      
      <div class="jp-details">
        <div class="jp-title" aria-label="title">&nbsp;</div>

        <%#= rating_for track, 'main', star: 3, cancel: true, 
              disable_after_rate: false, star_path: '/images/rate/white' %>
        &nbsp;
        <%#= track.average('main').try(:avg).try(:round,1) %>
        <!-- - <b><span class="jp-artists"></span>&nbsp;</b> -->
      </div>

      <% if current_user && (current_user.cahced_active_subscription? || 
            current_user.has_role?(:admin) ||
            current_user.has_role?(:artist) ) %>
        <button id="jp-playlist-btn" class="mr-4">
          <%= image_tag 'icons/playlist.png' %>
        </button>
      <% end %>

      <div class="jp-progress-container" style="width: 200px">
        <div id="waveform"></div>
      </div>
    </div>

    <div class="jp-playlist" style="display: none;">
      <ul >
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" data-turbolinks-eval="false">

  var playlist = [];
  var currentTrackIndex;

  var cpAudio = WaveSurfer.create({
      container: '#waveform',
      waveColor: '#3ed4e0',
      progressColor: '#e75e35',
      height: 40,
      barWidth: 2
  });

  var cpAudio2 = WaveSurfer.create({
      container: '#waveform',
      waveColor: '#3ed4e0',
      progressColor: '#e75e35',
      height: 40,
      barWidth: 2
  });

  $('.jp-current-time').text(secondsToHms(0));
  $('.jp-duration').text(secondsToHms(0));

  trackLoading(true);
  
  $.ajax( "/get_tracks" )
    .done(function(respond) {
      currentTrackIndex = respond.current_track.index;
      var time = respond.current_track.time;
      setPlaylist(respond.tracks, false, currentTrackIndex, time);
  });

  var sent = false;
  function timerAndLoadingForAudio(audio) {
    audio.on('audioprocess', function () {
      var current_time = audio.getCurrentTime();
      $('.jp-current-time').text(secondsToHms(current_time));
      $(`[data-track=${playlist[currentTrackIndex].id}]`)
          .siblings('.jp-current-time-track')
          .text(secondsToHms(current_time));

      var duration = audio.getDuration();
      if(current_time/duration < 0.8) {sent = false}
      if(current_time/duration > 0.8 && !sent){
        $.ajax({
          url: '/track_listened',
          dataType: 'JSON',
          data: { id: playlist[currentTrackIndex].id }
        });
        sent = true;
      }
    });

    audio.on('ready', function(){
      trackLoading(false);
    });
  }

  timerAndLoadingForAudio(cpAudio);


  function syncPlaylist(playlist, currentTrack, time=0){
    var tracks_ids = playlist.map(x => x['id']).join(',');

    $.post('/sync_playlist', 
      { tracks: tracks_ids,
        current_track_id: currentTrack,
        time: time});
  }

  $('.jp-audio .jp-play').click(function(){
    playButton();
  });

  $('.jp-audio .jp-previous').click(function(){
    playPrevious();
  });

  $('.jp-audio .jp-next').click(function(){
    playNext();
  });

  $('.jp-audio').on('change', '.jp-playlist', function(){
    if($(this).find('li').length < 2) {
      $('.jp-previous').addClass('jp-disabled');
      $('.jp-next').addClass('jp-disabled');
    } else {
      $('.jp-previous').removeClass('jp-disabled');
      $('.jp-next').removeClass('jp-disabled');
    }
  });

  $('.jp-playlist').on('click', '.jp-playlist-item', function(){
    playlistItemClick($('.jp-playlist-item').index(this));
  });

  $('.jp-playlist').on('click', '.jp-playlist-item-remove', function(){
    let index = $(this).closest('ul').find('li').index($(this).closest('li'));
    removeFromPlaylist(index);
  });

  function playlistItemClick(index) {
    trackLoading(true);

    $('.jp-current-time').text(secondsToHms(0));
    $('.jp-duration').text(secondsToHms(0));

    cpAudio.load(playlist[index].mp3);

    currentTrackIndex = index;

    changePlayerTitle(playlist[index]);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(index)).find('.jp-playlist-item').addClass('jp-playlist-current');

    $('.jp-current-time-track').text(secondsToHms(0));


    cpAudio.on('ready', function(){
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));

      if(playlist[currentTrackIndex + 1] != undefined) {
        cpAudio2.load(playlist[currentTrackIndex + 1].mp3);
      }
    });

    $('.jp-audio .jp-play').addClass('jp-playing');
    $('.jp-play-release').addClass('jp-playing');
    $('.jp-play-track').removeClass('jp-playing');
    $(`[data-track=${playlist[index].id}]`).addClass('jp-playing');

    syncPlaylist(playlist, currentTrackIndex);
  }

  function setPlaylist(tracks, play=false, currentTrack=0, currentTime=0) {
    trackLoading(true);

    playlist = tracks;
    currentTrackIndex = currentTrack;
    $('.jp-playlist ul').html('');

    tracks.forEach(function(track) {
      $('.jp-playlist ul').append(`
        <li>
          <div>
            <a href="javascript:;" class="jp-playlist-item" tabindex="0">` + track.title + ` - ` + track.artists + `</a>
            <a href="javascript:;" class="jp-playlist-item-remove">×</a>
          </div>
        </li>`).trigger('change');
    });

    $($('.jp-playlist li').get(currentTrack)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.load(playlist[currentTrack].mp3);

    cpAudio.on('ready', function(){

      cpAudio.skip(currentTime);
      $('.jp-current-time').text(secondsToHms(currentTime));
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
      $(`[data-track=${playlist[currentTrack].id}]`)
          .siblings('.jp-duration-track')
          .text(secondsToHms(cpAudio.getDuration()));

      if(playlist[currentTrack + 1] != undefined) {
        cpAudio2.load(playlist[currentTrack + 1].mp3);
      }
    });
    
    if(play) {
      cpAudio.on('ready', function(){
        cpAudio.play();
        $(`[data-track=${playlist[currentTrack].id}]`).addClass('jp-playing');
      });

      $('.jp-audio .jp-play').addClass('jp-playing');
      $('.jp-play-release').addClass('jp-playing');
    }

    syncPlaylist(playlist, currentTrackIndex);

    changePlayerTitle(playlist[currentTrack]);
  }

  function removeFromPlaylist(index) {
    let item = $('.jp-playlist li').get(index);
    let active = $(item).find('.jp-playlist-current').length > 0
    item.remove();
    $('.jp-playlist').trigger('change');
    playlist.splice(index,1);
    if (active) {
      currentTrackIndex--;
      playNext(true);
    }

    syncPlaylist(playlist, currentTrackIndex);
  }

  function playButton() {
    if(cpAudio.isPlaying()) {
      cpAudio.pause();
      $('.jp-audio .jp-play').removeClass('jp-playing');
      $('.jp-play-release').removeClass('jp-playing');
      $('.jp-play-track').removeClass('jp-playing');
    } else {
      cpAudio.play();
      $('.jp-audio .jp-play').addClass('jp-playing');
      $('.jp-play-release').addClass('jp-playing');
      updateCPlayerState();
    }
  }

  function playTrack(id) {
    $('.jp-play-track').not(`[data-track=${id}]`).removeClass('jp-playing');

    if(playlist[currentTrackIndex].id == id) {
      if(cpAudio.isPlaying()) {
        cpAudio.pause();
        $(`[data-track=${id}]`).removeClass('jp-playing');
        $('.jp-audio .jp-play').removeClass('jp-playing');
      } else {
        cpAudio.play();
        $(`[data-track=${id}]`).addClass('jp-playing');
        $('.jp-audio .jp-play').addClass('jp-playing');
      }
    } else {
      trackLoading(true);
      
      $.ajax({ url: `/tracks/${id}`, dataType: 'JSON' })
      .done(function(respond) {
        addToPlaylist([respond.track]);
        $(`[data-track=${id}]`).addClass('jp-playing');
        $('.jp-audio .jp-play').addClass('jp-playing');

        $(`[data-track=${playlist[currentTrackIndex].id}]`)
            .siblings('.jp-duration-track')
            .text(secondsToHms(cpAudio.getDuration()));
      });
    }
  }

  function playRelease(id) {
    $('.jp-play-release').not(`[data-release=${id}]`).removeClass('jp-playing');
  }

  function addToPlaylist(tracks, play=true) {
    trackLoading(true);

    if(tracks.length == 1) {
      $('.jp-current-time').text(secondsToHms(0));
      $('.jp-duration').text(secondsToHms(0));
      $('.jp-current-time-track').text(secondsToHms(0));
      let track = tracks[0];
      let playlistIds = playlist.map(t => parseInt(t.id));

      if(playlistIds.includes(track.id)) {
        playlistItemClick(playlistIds.indexOf(track.id));
      } else {
        currentTrackIndex = playlist.length;
        playlist.push(track);

        $('.jp-playlist ul').append(`
          <li>
            <div>
              <a href="javascript:;" class="jp-playlist-item" tabindex="0">` + track.title + ` - ` + track.artists + `</a>
              <a href="javascript:;" class="jp-playlist-item-remove">×</a>
            </div>
          </li>`).trigger('change');

        $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
        $('.jp-playlist li').last().find('.jp-playlist-item').addClass('jp-playlist-current');

        cpAudio.load(track.mp3);

        cpAudio.on('ready', function(){
          $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
          $(`[data-track=${track.id}]`)
              .siblings('.jp-duration-track')
              .text(secondsToHms(cpAudio.getDuration()));
          if(play) cpAudio.play();
        });

        changePlayerTitle(track);
      }
    }

    syncPlaylist(playlist, currentTrackIndex);
  }

  function playNext(paused=false) {
    if(playlist[currentTrackIndex + 1] == undefined) {
      cpAudio.pause();
      $('.jp-play').removeClass('jp-playing');
      return false;
    }

    trackLoading(true);

    currentTrackIndex++;

    $('.jp-duration').text(secondsToHms(0));
    $('.jp-current-time').text(secondsToHms(0));
    $('.jp-current-time-track').text(secondsToHms(0));

    cpAudio.load(playlist[currentTrackIndex].mp3);

    changePlayerTitle(playlist[currentTrackIndex]);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(currentTrackIndex)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.on('ready', function(){
      if(!paused) cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));

      if(playlist[currentTrackIndex + 1] != undefined) {
        cpAudio2.load(playlist[currentTrackIndex + 1].mp3);
      }
    });

    $(`[data-track=${playlist[currentTrackIndex].id}]`)
        .siblings('.jp-duration-track')
        .text(secondsToHms(cpAudio.getDuration()));

    if(!paused) {
      $('.jp-audio .jp-play').addClass('jp-playing');
      $('.jp-play-release').addClass('jp-playing');
      $('.jp-play-track').removeClass('jp-playing');
      $(`[data-track=${playlist[currentTrackIndex].id}]`).addClass('jp-playing');
    }

    syncPlaylist(playlist, currentTrackIndex);
  }


  cpAudio.on("finish", playNext);


  function playPrevious() {

    if(playlist[currentTrackIndex-1] == undefined) {
      return false;
    }  

    trackLoading(true);

    currentTrackIndex--;

    $('.jp-duration').text(secondsToHms(0));
    $('.jp-current-time').text(secondsToHms(0));
    $('.jp-current-time-track').text(secondsToHms(0));

    cpAudio.load(playlist[currentTrackIndex].mp3);
    changePlayerTitle(playlist[currentTrackIndex]);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(currentTrackIndex)).find('.jp-playlist-item').addClass('jp-playlist-current');

    
    cpAudio.on('ready', function(){
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    $(`[data-track=${playlist[currentTrackIndex].id}]`)
        .siblings('.jp-duration-track')
        .text(secondsToHms(cpAudio.getDuration()));

    $('.jp-audio .jp-play').addClass('jp-playing');
    $('.jp-play-release').addClass('jp-playing');
    $('.jp-play-track').removeClass('jp-playing');
    $(`[data-track=${playlist[currentTrackIndex].id}]`).addClass('jp-playing');

    syncPlaylist(playlist, currentTrackIndex);
  }

  function changePlayerTitle(t) {
    $('.jp-title').html('<a href="/releases/' + t.release_id + '">' + t.track_number + '. ' + t.title + ' - <b>' + t.artists + '</b></a>');
    $.get('/fill_track_title', {track_id: t.id});
  }

  function trackLoading(state) {
    if(state) {
      $('.track-load').show();
      $('.jp-audio .jp-play').hide();
    } else {
      $('.track-load').hide();
      $('.jp-audio .jp-play').show();
    }
  }

  var draggedBars = [
    ['.jp-volume-bar','.jp-volume-bar-value','volume']
  ]
  dragBars(draggedBars);

  function dragBars(bars) {
    var audio = cpAudio;
    var drag = false;
    var e = {}, eInner = {}, updateBar = {};
    document.addEventListener('mouseup',function(ev){
     drag = false;
    });
    bars.forEach(function(bar){
      document.addEventListener('mousemove',function(ev){
         if(drag){
            updateBar[bar[2]](ev.clientX);
         }
      });
      e[bar[2]] = document.querySelector(bar[0]);
      eInner[bar[2]] = document.querySelector(bar[1]);
      e[bar[2]].addEventListener('mousedown',function(ev){
         drag = true;
         updateBar[bar[2]](ev.clientX);
      });
      updateBar[bar[2]] = function (x, vol) {
         var volume = e[bar[2]];
              var percentage;
              if (vol) {
                  percentage = vol * 100;
              } else {
                  var position = x - volume.offsetLeft;
                  percentage = 100 * position / volume.clientWidth;
              }

              if (percentage > 100) {
                  percentage = 100;
              }
              if (percentage < 0) {
                  percentage = 0;
              }

              eInner[bar[2]].style.width = percentage +'%';
              if(bar[2] == 'volume') {
                audio.setVolume(percentage / 100);
              } else if(bar[2] == 'progress') {
                // audio.currentTime = Math.round(audio.duration * percentage / 100);
              }
      };
    });
  }

  function secondsToHms(d) {
    d = Number(d);
    var h = Math.floor(d / 3600);
    var m = Math.floor(d % 3600 / 60);
    var s = Math.floor(d % 3600 % 60);
    return ((h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s);
  }

  function updateCPlayerState() {
    let track_buttons = $('.jp-play-track');

    if(track_buttons.length > 0) {
      if(cpAudio.isPlaying()) {
        $(`[data-track=${playlist[currentTrackIndex].id}]`).addClass('jp-playing');
      }
    }
  }

  $('#jp-playlist-btn').click(function() {
    $('.jp-playlist').slideToggle(300, function() {
      if ($(this).is(':visible'))
          $(this).css('display','inline-block');
    });
  });

  $('.jp-volume-btn').click(() => {
    $('.jp-volume').toggleClass('d-flex').toggleClass('d-none');
  });

  window.addEventListener('click', function(e){   
    if (!document.getElementsByClassName('jp-playlist')[0].contains(e.target) &&
          !document.getElementById('jp-playlist-btn').contains(e.target) &&
          e.target.className != 'jp-playlist-item-remove' ){
      $('.jp-playlist').slideUp(300);
    }
  });

  // $('#jp_container_1').mouseover(function() {
    // $('.jp-audio').css({'top': '0px'});
    // $('#jp_container_1').css({'top': '0px'});
    // $(this).css({'top': '0px'});
    // $('.navbar').css('top', '40px');
    // $('.main-container main').css('padding-top', '100px');
    $('.jp-controls').css('opacity', '1');
    // $('.jp-details').css('top', '0px');
  // });

  // $('#jp_container_1').mouseout(function() {
  //   $(this).css({'top': '-20px'});
  //   $('.navbar').css('top', '20px');
  //   $('header').css('margin-bottom', '80px');
  //   $('.jp-controls').css('opacity', '0');
  //   $('.jp-details').css('top', '10px');
  // });
</script>