<div class="jp-audio" id="cPlayer" data-turbolinks-permanent>
  <div class="container">
    <div class="jp-interface">
      <div class="jp-controls">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <button class="jp-previous" role="button" tabindex="0"></button>
        <button class="jp-play" role="button" tabindex="1"></button>
        <button class="jp-next" role="button" tabindex="2"></button>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>

        <div class="jp-volume-controls">
          <button class="jp-volume-btn" tabindex="3"><%= show_svg('icons/volume-high.svg') %></button>

          <div class="jp-volume d-none">
            <!-- <button class="jp-mute" role="button" tabindex="4">mute</button> -->
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
      <!--       <div class="jp-seek-bar" style="width: 150px">
              <div class="jp-play-bar"></div>
            </div> -->
            <!-- <button class="jp-volume-max" role="button" tabindex="5">max</button> -->
          </div>
        </div>
      </div>
      
      <div class="jp-details">
        <div class="jp-title" aria-label="title">&nbsp;</div>
        - <b><span class="jp-artists"></span>&nbsp;</b>
      </div>

      <button id="jp-playlist-btn" class="mr-4">
        <%= image_tag 'icons/playlist.png' %>
      </button>

      <div class="jp-proggress-container" style="width: 200px">
        <div id="waveform"></div>
      </div>
    </div>

    <div class="jp-playlist">
      <ul style="display: none;">
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" data-turbolinks-eval="false">

  var playlist = [];
  var currentTrackIndex;

  var cpAudio = WaveSurfer.create({
      container: '#waveform',
      waveColor: '#3ed4e0',
      progressColor: 'violet',
      height: 40,
      barWidth: 2
  });

  $('.jp-current-time').text(secondsToHms(0));
  $('.jp-duration').text(secondsToHms(0));

  $.ajax( "/get_tracks" )
  .done(function(respond) {
    currentTrackIndex = respond.current_track.index;
    time = respond.current_track.time;
    setPlaylist(respond.tracks, false, currentTrackIndex, time);

  });
  
  cpAudio.on('audioprocess', function () {
    $('.jp-current-time').text(secondsToHms(cpAudio.getCurrentTime()));
    $(`[data-track=${playlist[currentTrackIndex].id}]`)
        .siblings('.jp-current-time-track')
        .text(secondsToHms(cpAudio.getCurrentTime()));
  });

  $('.jp-audio .jp-play').click(function(){
    playButton();
  });

  $('.jp-audio .jp-previous').click(function(){
    playPrevious();
  });

  $('.jp-audio .jp-next').click(function(){
    playNext();
  });

  $('.jp-audio').on('change', '.jp-playlist', function(){
    if($(this).find('li').length < 2) {
      $('.jp-previous').addClass('jp-disabled');
      $('.jp-next').addClass('jp-disabled');
    } else {
      $('.jp-previous').removeClass('jp-disabled');
      $('.jp-next').removeClass('jp-disabled');
    }
  });

  $('.jp-playlist').on('click', '.jp-playlist-item', function(){
    playlistItemClick($('.jp-playlist-item').index(this));
  });

  $('.jp-playlist').on('click', '.jp-playlist-item-remove', function(){
    let index = $(this).closest('ul').find('li').index($(this).closest('li'));
    removeFromPlaylist(index);
  });

  function playlistItemClick(index) {
    currentTrackIndex = index;
    cpAudio.load(playlist[index].mp3.url);
    $('.jp-title').text(playlist[index]['title']);
    $('.jp-artists').text(playlist[index]['artists']);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(index)).find('.jp-playlist-item').addClass('jp-playlist-current');

    $('.jp-current-time-track').text(secondsToHms(0));

    cpAudio.on('ready', function() {
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    $('.jp-audio .jp-play').addClass('jp-playing');
    $('.jp-play-release').addClass('jp-playing');
    $('.jp-play-track').removeClass('jp-playing');
    $(`[data-track=${playlist[index].id}]`).addClass('jp-playing');
  }

  function setPlaylist(tracks, play=false, currentTrack=0, currentTime=0) {
    playlist = tracks;
    currentTrackIndex = currentTrack;
    $('.jp-playlist ul').html('');

    tracks.forEach(function(track) {
      $('.jp-playlist ul').append(`
        <li>
          <div>
            <a href="javascript:;" class="jp-playlist-item" tabindex="0">` + track.title + ` - ` + track.artists + `</a>
            <a href="javascript:;" class="jp-playlist-item-remove">×</a>
          </div>
        </li>`).trigger('change');
    });

    $($('.jp-playlist li').get(currentTrack)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.load(playlist[currentTrack].mp3.url);

    cpAudio.on('ready', function () {
      cpAudio.skip(currentTime);
      $('.jp-current-time').text(secondsToHms(currentTime));
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });
    
    if(play) {
      cpAudio.on('ready', function() {
        cpAudio.play();
      });
      $('.jp-audio .jp-play').addClass('jp-playing');
      $('.jp-play-release').addClass('jp-playing');
    }

    $('.jp-title').text(playlist[currentTrack]['title']);
    $('.jp-artists').text(playlist[currentTrack]['artists']);
  }

  function removeFromPlaylist(index) {
    let item = $('.jp-playlist li').get(index);
    let active = $(item).find('.jp-playlist-current').length > 0
    item.remove();
    $('.jp-playlist').trigger('change');
    playlist.splice(index,1);
    if (active) {
      currentTrackIndex--;
      playNext(true);
    }
  }

  function playButton() {
    if(cpAudio.isPlaying()) {
      cpAudio.pause();
      $('.jp-audio .jp-play').removeClass('jp-playing');
      $('.jp-play-release').removeClass('jp-playing');
      $('.jp-play-track').removeClass('jp-playing');
    } else {
      cpAudio.play();
      $('.jp-audio .jp-play').addClass('jp-playing');
      $('.jp-play-release').addClass('jp-playing');
      updateCPlayerState();
    }
  }

  function playTrack(id) {
    $('.jp-play-track').not(`[data-track=${id}]`).removeClass('jp-playing');

    if(playlist[currentTrackIndex].id == id) {
      if(cpAudio.isPlaying()) {
        cpAudio.pause();
        $(`[data-track=${id}]`).removeClass('jp-playing');
        $('.jp-audio .jp-play').removeClass('jp-playing');
      } else {
        cpAudio.play();
        $(`[data-track=${id}]`).addClass('jp-playing');
        $('.jp-audio .jp-play').addClass('jp-playing');
      }
    } else {
      $.ajax( `/tracks/${id}` )
      .done(function(respond) {
        addToPlaylist([respond.track]);

        $('.jp-title').text(respond.track['title']);
        $('.jp-artists').text(respond.track['artists']);
        $(`[data-track=${id}]`).addClass('jp-playing');
        $('.jp-audio .jp-play').addClass('jp-playing');
      });
    }
  }

  function playRelease(id) {
    $('.jp-play-release').not(`[data-release=${id}]`).removeClass('jp-playing');

    // if(playlist[currentTrackIndex].id == id) {
    //   if(cpAudio.isPlaying()) {
    //     cpAudio.pause();
    //     $(`[data-track=${id}]`).removeClass('jp-playing');
    //     $('.jp-audio .jp-play').removeClass('jp-playing');
    //   } else {
    //     cpAudio.play();
    //     $(`[data-track=${id}]`).addClass('jp-playing');
    //     $('.jp-audio .jp-play').addClass('jp-playing');
    //   }
    // } else {
    //   $.ajax( `/tracks/${id}` )
    //   .done(function(respond) {
    //     addToPlaylist([respond.track]);

    //     $('.jp-title').text(respond.track['title']);
    //     $('.jp-artists').text(respond.track['artists']);
    //     $(`[data-track=${id}]`).addClass('jp-playing');
    //     $('.jp-audio .jp-play').addClass('jp-playing');
    //   });
    // }
  }

  function addToPlaylist(tracks, play=true) {
    cpAudio.un('ready');
    if(tracks.length == 1) {
      $('.jp-current-time').text(secondsToHms(0));
      $('.jp-duration').text(secondsToHms(0));
      $('.jp-current-time-track').text(secondsToHms(0));
      let track = tracks[0];
      let playlistIds = playlist.map(t => parseInt(t.id));

      if(playlistIds.includes(track.id)) {
        playlistItemClick(playlistIds.indexOf(track.id));
      } else {
        currentTrackIndex = playlist.length;
        playlist.push(track);

        $('.jp-playlist ul').append(`
          <li>
            <div>
              <a href="javascript:;" class="jp-playlist-item" tabindex="0">` + track.title + ` - ` + track.artists + `</a>
              <a href="javascript:;" class="jp-playlist-item-remove">×</a>
            </div>
          </li>`).trigger('change');

        $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
        $('.jp-playlist li').last().find('.jp-playlist-item').addClass('jp-playlist-current');

        cpAudio.load(track.mp3.url);

        cpAudio.on('ready', function () {
          $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
          $(`[data-track=${track.id}]`)
              .siblings('.jp-duration-track')
              .text(secondsToHms(cpAudio.getDuration()));

          if(play) cpAudio.play();
        });
      }
    }
  }

  function playNext(paused=false) {
    cpAudio.un('ready');

    if(playlist[currentTrackIndex + 1] == undefined) {
      cpAudio.pause();
      $('.jp-play').removeClass('jp-playing');
      return false;
    }

    currentTrackIndex++;

    $('.jp-duration').text(secondsToHms(0));
    $('.jp-current-time').text(secondsToHms(0));
    $('.jp-current-time-track').text(secondsToHms(0));

    cpAudio.load(playlist[currentTrackIndex].mp3.url);
    $('.jp-title').text(playlist[currentTrackIndex]['title']);
    $('.jp-artists').text(playlist[currentTrackIndex]['artists']);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(currentTrackIndex)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.on('ready', function() {
      if(!paused) cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    if(!paused) {
      $('.jp-audio .jp-play').addClass('jp-playing');
      $('.jp-play-release').addClass('jp-playing');
      $('.jp-play-track').removeClass('jp-playing');
      $(`[data-track=${playlist[currentTrackIndex].id}]`).addClass('jp-playing');
    }
  }


  cpAudio.on("finish", playNext);


  function playPrevious() {
    cpAudio.un('ready');

    if(playlist[currentTrackIndex-1] == undefined) {
      return false;
    }  

    currentTrackIndex--;

    $('.jp-duration').text(secondsToHms(0));
    $('.jp-current-time').text(secondsToHms(0));
    $('.jp-current-time-track').text(secondsToHms(0));

    cpAudio.load(playlist[currentTrackIndex].mp3.url);
    $('.jp-title').text(playlist[currentTrackIndex]['title']);
    $('.jp-artists').text(playlist[currentTrackIndex]['artists']);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(currentTrackIndex)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.on('ready', function() {
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    $('.jp-audio .jp-play').addClass('jp-playing');
    $('.jp-play-release').addClass('jp-playing');
    $('.jp-play-track').removeClass('jp-playing');
    $(`[data-track=${playlist[currentTrackIndex].id}]`).addClass('jp-playing');
  }

  var draggedBars = [
    ['.jp-volume-bar','.jp-volume-bar-value','volume']
  ]
  dragBars(draggedBars);

  function dragBars(bars) {
    var audio = cpAudio;
    var drag = false;
    var e = {}, eInner = {}, updateBar = {};
    document.addEventListener('mouseup',function(ev){
     drag = false;
    });
    bars.forEach(function(bar){
      document.addEventListener('mousemove',function(ev){
         if(drag){
            updateBar[bar[2]](ev.clientX);
         }
      });
      e[bar[2]] = document.querySelector(bar[0]);
      eInner[bar[2]] = document.querySelector(bar[1]);
      e[bar[2]].addEventListener('mousedown',function(ev){
         drag = true;
         updateBar[bar[2]](ev.clientX);
      });
      updateBar[bar[2]] = function (x, vol) {
         var volume = e[bar[2]];
              var percentage;
              if (vol) {
                  percentage = vol * 100;
              } else {
                  var position = x - volume.offsetLeft;
                  percentage = 100 * position / volume.clientWidth;
              }

              if (percentage > 100) {
                  percentage = 100;
              }
              if (percentage < 0) {
                  percentage = 0;
              }

              eInner[bar[2]].style.width = percentage +'%';
              if(bar[2] == 'volume') {
                audio.setVolume(percentage / 100);
              } else if(bar[2] == 'progress') {
                // audio.currentTime = Math.round(audio.duration * percentage / 100);
              }
      };
    });
  }

  function secondsToHms(d) {
    d = Number(d);
    var h = Math.floor(d / 3600);
    var m = Math.floor(d % 3600 / 60);
    var s = Math.floor(d % 3600 % 60);
    return ((h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s);
  }

  function updateCPlayerState() {
    let track_buttons = $('.jp-play-track');

    if(track_buttons.length > 0) {
      if(cpAudio.isPlaying()) {
        $(`[data-track=${playlist[currentTrackIndex].id}]`).addClass('jp-playing');
      }
    }
  }

  $('#jp-playlist-btn').click(function() {
    $('.jp-playlist ul').slideToggle(300, function() {
      if ($(this).is(':visible'))
          $(this).css('display','inline-block');
    });
  });

  $('.jp-volume-btn').click(() => {
    $('.jp-volume').toggleClass('d-flex').toggleClass('d-none');
  });

  window.addEventListener('click', function(e){   
    if (!document.getElementsByClassName('jp-playlist')[0].contains(e.target) &&
      !document.getElementById('jp-playlist-btn').contains(e.target)){
      $('.jp-playlist ul').slideUp(300);
    }
  });

  // $('#jp_container_1').mouseover(function() {
    $('.jp-audio').css({'top': '0px'});
    // $('#jp_container_1').css({'top': '0px'});
    // $(this).css({'top': '0px'});
    $('.navbar').css('top', '40px');
    $('.main-container main').css('padding-top', '100px');
    $('.jp-controls').css('opacity', '1');
    $('.jp-details').css('top', '0px');
  // });

  // $('#jp_container_1').mouseout(function() {
  //   $(this).css({'top': '-20px'});
  //   $('.navbar').css('top', '20px');
  //   $('header').css('margin-bottom', '80px');
  //   $('.jp-controls').css('opacity', '0');
  //   $('.jp-details').css('top', '10px');
  // });
</script>