
<div class="jp-audio" id="cPlayer" data-turbolinks-permanent>
  <div class="container">
    <div class="jp-interface">
      <div class="jp-controls">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <button class="jp-previous" role="button" tabindex="0"></button>
        <button class="jp-play" role="button" tabindex="1"></button>
        <button class="jp-next" role="button" tabindex="2"></button>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>

        <div class="jp-volume-controls">
          <button class="jp-volume-btn" tabindex="3"><%= show_svg('icons/volume-high.svg') %></button>

          <div class="jp-volume d-none">
            <!-- <button class="jp-mute" role="button" tabindex="4">mute</button> -->
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
      <!--       <div class="jp-seek-bar" style="width: 150px">
              <div class="jp-play-bar"></div>
            </div> -->
            <!-- <button class="jp-volume-max" role="button" tabindex="5">max</button> -->
          </div>
        </div>
      </div>
      
      <div class="jp-details">
        <div class="jp-title" aria-label="title">&nbsp;</div>
        - <b><span class="jp-artists"></span>&nbsp;</b>
      </div>

      <button id="jp-playlist-btn" class="mr-4">
        <%= image_tag 'icons/playlist.png' %>
      </button>


      <div class="jp-proggress-container" style="width: 200px">

        <div id="waveform"></div>

        <div class="jp-progress d-none">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="jp-playlist">
      <ul style="display: none;">
        <li>
          <div>
            <a href="javascript:;" class="jp-playlist-item-remove" style="display: none;">×</a>
            <a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="0">Cro Magnon Man</a>
          </div>
        </li>
        <li>
          <div>
            <a href="javascript:;" class="jp-playlist-item-remove" style="display: none;">×</a>
            <a href="javascript:;" class="jp-playlist-item" tabindex="0">Your Face</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" data-turbolinks-eval="false">

  var playlist = [];
  var currentTrackIndex;

  var cpAudio = WaveSurfer.create({
      container: '#waveform',
      waveColor: 'violet',
      progressColor: 'purple',
      height: 40,
      barWidth: 2
  });

  $.ajax( "/get_tracks" )
  .done(function(respond) {
    currentTrackIndex = respond.current_track.index;
    currentTime = respond.current_track.time;
    setPlaylist(respond.tracks ,false, currentTrackIndex);

    cpAudio.load(playlist[currentTrackIndex]['mp3']);
    $('.jp-title').text(playlist[respond.current_track.index]['title']);
    $('.jp-artists').text(playlist[respond.current_track.index]['artists']);

    cpAudio.on('ready', function () {
      cpAudio.skip(currentTime);
      $('.jp-current-time').text(secondsToHms(currentTime));
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });
  });

  $('.jp-duration').text(secondsToHms(0));
  $('.jp-current-time').text(secondsToHms(0));
  
  cpAudio.on('audioprocess', function () {
    $('.jp-current-time').text(secondsToHms(cpAudio.getCurrentTime()));
  });

  $('.jp-audio .jp-play').click(function(){
    playButton();
  });

  $('.jp-audio .jp-previous').click(function(){
    playPrevious();
  });

  $('.jp-audio .jp-next').click(function(){
    playNext();
  });

  $('.jp-playlist').on('click', '.jp-playlist-item', function(){
    playlistItemClick($('.jp-playlist-item').index(this));
  });

  $('.jp-playlist').on('click', '.jp-playlist-item-remove', function(){
    let index = $(this).closest('ul').find('li').index($(this).closest('li'));
    $(this).closest('li').remove();
    removeFromPlaylist(index);
  });

  function playlistItemClick(index) {
    cpAudio.load(playlist[index]['mp3']);
    $('.jp-title').text(playlist[index]['title']);
    $('.jp-artists').text(playlist[index]['artists']);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(index)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.on('ready', function() {
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    $('.jp-play').addClass('jp-playing');
  }

  function setPlaylist(tracks, play=false, currentTrack=0) {
    playlist = tracks;
    $('.jp-playlist ul').html('');

    tracks.forEach(function(track) {
      $('.jp-playlist ul').append(`
        <li>
          <div>
            <a href="javascript:;" class="jp-playlist-item" tabindex="0">` + track.title + ` - ` + track.artists + `</a>
            <a href="javascript:;" class="jp-playlist-item-remove">×</a>
          </div>
        </li>`);
    });

    $($('.jp-playlist li').get(currentTrack)).find('.jp-playlist-item').addClass('jp-playlist-current');

    if(play) {
      cpAudio.load(playlist[0]['mp3']);

      cpAudio.on('ready', function() {
        cpAudio.play();
        $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
      });

      $('.jp-play').addClass('jp-playing');
    }
  }

  function removeFromPlaylist(index) {
    playlist.splice(index,1);
    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(index)).find('.jp-playlist-item').addClass('jp-playlist-current');
  }

  function playButton() {
    if(cpAudio.isPlaying()) {
      cpAudio.pause();
      $('.jp-play').removeClass('jp-playing');

    } else {
      cpAudio.play();
      $('.jp-play').addClass('jp-playing');
    }
  }

  function playNext() {
    if(playlist[currentTrackIndex + 1] == undefined) {
      $('.jp-play').removeClass('jp-playing');
      return false;
    }

    currentTrackIndex++;

    cpAudio.pause();

    $('.jp-duration').text(secondsToHms(0));
    $('.jp-current-time').text(secondsToHms(0));

    cpAudio.load(playlist[currentTrackIndex]['mp3']);
    $('.jp-title').text(playlist[currentTrackIndex]['title']);
    $('.jp-artists').text(playlist[currentTrackIndex]['artists']);

    $('.jp-playlist li').find('.jp-playlist-item').removeClass('jp-playlist-current');
    $($('.jp-playlist li').get(currentTrackIndex)).find('.jp-playlist-item').addClass('jp-playlist-current');

    cpAudio.on('ready', function() {
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    $('.jp-play').addClass('jp-playing');
  }

  cpAudio.on("finish", playNext);

  function playPrevious() {
    console.log('prev');
    if(playlist[currentTrackIndex-1] == undefined) {
      return false;
    }  

    currentTrackIndex--;

    cpAudio.load(playlist[currentTrackIndex]['mp3']);
    $('.jp-title').text(playlist[currentTrackIndex]['title']);
    $('.jp-artists').text(playlist[currentTrackIndex]['artists']);

    cpAudio.on('ready', function() {
      cpAudio.play();
      $('.jp-duration').text(secondsToHms(cpAudio.getDuration()));
    });

    $('.jp-play').addClass('jp-playing');
  }

  var draggedBars = [
    ['.jp-volume-bar','.jp-volume-bar-value','volume'],
    ['.jp-seek-bar','jp-play-bar','progress']
  ]
  dragBars(draggedBars);

  function dragBars(bars) {
    var audio = cpAudio;
    var drag = false;
    var e = {}, eInner = {}, updateBar = {};
    document.addEventListener('mouseup',function(ev){
     drag = false;
    });
    bars.forEach(function(bar){
      document.addEventListener('mousemove',function(ev){
         if(drag){
            updateBar[bar[2]](ev.clientX);
         }
      });
      e[bar[2]] = document.querySelector(bar[0]);
      eInner[bar[2]] = document.querySelector(bar[1]);
      e[bar[2]].addEventListener('mousedown',function(ev){
         drag = true;
         updateBar[bar[2]](ev.clientX);
      });
      updateBar[bar[2]] = function (x, vol) {
         var volume = e[bar[2]];
              var percentage;
              if (vol) {
                  percentage = vol * 100;
              } else {
                  var position = x - volume.offsetLeft;
                  percentage = 100 * position / volume.clientWidth;
              }

              if (percentage > 100) {
                  percentage = 100;
              }
              if (percentage < 0) {
                  percentage = 0;
              }

              eInner[bar[2]].style.width = percentage +'%';
              if(bar[2] == 'volume') {
                audio.volume = percentage / 100;
              } else if(bar[2] == 'progress') {
                audio.currentTime = Math.round(audio.duration * percentage / 100);
              }
      };
    });
  }

  function secondsToHms(d) {
    d = Number(d);
    var h = Math.floor(d / 3600);
    var m = Math.floor(d % 3600 / 60);
    var s = Math.floor(d % 3600 % 60);
    return ((h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s);
  }

  $('#jp-playlist-btn').click(function() {
    $('.jp-playlist ul').slideToggle(300, function() {
      if ($(this).is(':visible'))
          $(this).css('display','inline-block');
    });
  });

  $('.jp-volume-btn').click(() => {
    $('.jp-volume').toggleClass('d-flex').toggleClass('d-none');
  });

  window.addEventListener('click', function(e){   
    if (!document.getElementsByClassName('jp-playlist')[0].contains(e.target) &&
      !document.getElementById('jp-playlist-btn').contains(e.target)){
      $('.jp-playlist ul').slideUp(300);
    }
  });

  // $('#jp_container_1').mouseover(function() {
    $('.jp-audio').css({'top': '0px'});
    // $('#jp_container_1').css({'top': '0px'});
    // $(this).css({'top': '0px'});
    $('.navbar').css('top', '40px');
    $('.main-container main').css('padding-top', '100px');
    $('.jp-controls').css('opacity', '1');
    $('.jp-details').css('top', '0px');
  // });

  // $('#jp_container_1').mouseout(function() {
  //   $(this).css({'top': '-20px'});
  //   $('.navbar').css('top', '20px');
  //   $('header').css('margin-bottom', '80px');
  //   $('.jp-controls').css('opacity', '0');
  //   $('.jp-details').css('top', '10px');
  // });
</script>